<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>angry.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:o</string>
				<string>&gt;:-o</string>
				<string>&gt;:O</string>
				<string>&gt;:-O</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>blush.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
				<string>:[</string>
			</array>
			<key>Name</key>
			<string>Blush</string>
		</dict>
		<key>cry.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'(</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Cry</string>
		</dict>
		<key>scared.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-!</string>
				<string>:!</string>
			</array>
			<key>Name</key>
			<string>Scared</string>
		</dict>
		<key>sad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Sad</string>
		</dict>
		<key>gasp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=-o</string>
				<string>=-O</string>
				<string>=o</string>
				<string>=O</string>
				<string>:o</string>
				<string>:O</string>
				<string>:-o</string>
				<string>:-O</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Gasp</string>
		</dict>
		<key>grin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string>:D</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>angel.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:-)</string>
				<string>o:-)</string>
				<string>O:)</string>
				<string>o:)</string>
			</array>
			<key>Name</key>
			<string>Angel</string>
		</dict>
		<key>kiss.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string>:*</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>wub.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-x</string>
				<string>:-X</string>
				<string>:x</string>
				<string>:X</string>
			</array>
			<key>Name</key>
			<string>Lips Are Sealed</string>
		</dict>
		<key>money.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
			</array>
			<key>Name</key>
			<string>Money-mouth</string>
		</dict>
		<key>smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-p</string>
				<string>:-P</string>
				<string>:P</string>
				<string>:p</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Sticking Out Tongue</string>
		</dict>
		<key>erm.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-\</string>
				<string>:-/</string>
				<string>:/</string>
				<string>:\</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Erm</string>
		</dict>
		<key>cool.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
				<string>8)</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>wink.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
	</dict>
</dict>
</plist>
