<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>XtraBundleVersion</key>
	<string>1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>2.0</string>
	<key>OriginalAuthor</key>
	<string>Adam Iser?</string>
	<key>CFBundleIdentifier</key>
	<string>im.adium.Mockie.style</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>Mockie</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>MessageViewVersion</key>
	<integer>4</integer>
	<key>DefaultFontFamily</key>
	<string>Lucida Grande</string>
	<key>DefaultFontSize</key>
	<integer>11</integer>
	<key>DefaultVariant</key>
	<string>Brown - Icon Left</string>
	<key>ShowsUserIcons:Brown - Icon Hidden</key>
	<false/>
	<key>ShowsUserIcons:Indigo - Icon Hidden</key>
	<false/>
	<key>ShowsUserIcons:Orange - Icon Hidden</key>
	<false/>
	<key>ShowsUserIcons:Red - Icon Hidden</key>
	<false/>
	<key>DefaultBackgroundColor</key>
	<string>eef3eb</string>
	<key>DefaultBackgroundColor:Brown - Icon Alternate</key>
	<string>eef3eb</string>
	<key>DefaultBackgroundColor:Brown - Icon Hidden</key>
	<string>eef3eb</string>
	<key>DefaultBackgroundColor:Brown - Icon Right</key>
	<string>eef3eb</string>
	<key>DefaultBackgroundColor:Indigo - Icon Alternate</key>
	<string>f8f0f0</string>
	<key>DefaultBackgroundColor:Indigo - Icon Hidden</key>
	<string>f8f0f0</string>
	<key>DefaultBackgroundColor:Indigo - Icon Left</key>
	<string>f8f0f0</string>
	<key>DefaultBackgroundColor:Indigo - Icon Right</key>
	<string>f8f0f0</string>
	<key>DefaultBackgroundColor:Orange - Icon Alternate</key>
	<string>f2fbee</string>
	<key>DefaultBackgroundColor:Orange - Icon Hidden</key>
	<string>f2fbee</string>
	<key>DefaultBackgroundColor:Orange - Icon Left</key>
	<string>f2fbee</string>
	<key>DefaultBackgroundColor:Orange - Icon Right</key>
	<string>f2fbee</string>
	<key>DefaultBackgroundColor:Red - Icon Alternate</key>
	<string>fff4f4</string>
	<key>DefaultBackgroundColor:Red - Icon Hidden</key>
	<string>fff4f4</string>
	<key>DefaultBackgroundColor:Red - Icon Left</key>
	<string>fff4f4</string>
	<key>DefaultBackgroundColor:Red - Icon Right</key>
	<string>fff4f4</string>
</dict>
</plist>
