@import url("../regular.css");



.incomingheader_left {
	background: url("../images/green_left.png") top right no-repeat;
}

.incomingheader_center {
	background: url("../images/green_fill.png") top right repeat-x;
}

.incomingheader_right {
	background: url("../images/green_right.png") top right no-repeat;
}

.outgoingheader_left {
	background: url("../images/red_left.png") top right no-repeat;
}

.outgoingheader_center {
	background: url("../images/red_fill.png") top right repeat-x;
}

.outgoingheader_right {
	background: url("../images/red_right.png") top right no-repeat;
}