<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>XtraBundleVersion</key>
	<string>1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.5</string>
	<key>OriginalAuthor</key>
	<string>mr_misanthropy</string>
	<key>CFBundleIdentifier</key>
	<string>im.adium.Gone Dark.style</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>Gone Dark</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>DefaultFontFamily</key>
	<string>Arial</string>
	<key>DefaultFontSize</key>
	<integer>11</integer>
	<key>DefaultVariant</key>
	<string>Cosmic</string>
	<key>DisplayNameForNoVariant</key>
	<string>Island</string>
	<key>MessageViewVersion</key>
	<integer>4</integer>
	<key>ShowsUserIcons</key>
	<false/>
</dict>
</plist>
