/*Tiger access v1.0b*/
/*<html><head><meta name="robots" content="noindex"></head></html>*/
/*Edited by Kyle Jorgensen 2010*/
body {
	color:#000;
	background-color:#fff;
	margin:0;
	font-family:"Lucida Grande", "Helvetica Neue", sans-serif;
}
a {
	color:#00f;
	text-decoration:none;
}
h1 {
	color:#000;
	font-size:18pt;
	font-weight:500;
	letter-spacing:-1pt;
	padding-top:12px;
}
h2 {
	color:#000;
	font-size:11pt;
	font-weight:300;
	margin-top:16px;
}
h4 {
	color:#000;
	font-size:8pt;
	font-weight:300;
	margin-top:21px;
}
p {
	font-size:9pt;
	margin-top:-10px;
	margin-left:0;
}
a:hover {
	text-decoration:underline;
}
#contenttop {
    text-align: center;
}
#contentleft {
	margin-top:38px;
	width:235px;
	float:left;
}
#contentcenter {
	margin-top:2px;
	padding:0;
	width:18px;
	float:left;
}
#contentright {
	margin-top:18px;
	padding-left:30px;
	width:210px;
	height:200px;
	float:left;
	border-left:1px solid gray;
	margin-bottom: 30px;
}
#contentbottom {
    text-align: center;
}
#frame {
	text-align:left;
	margin-top:12px;
	margin-right:auto;
	margin-left:auto;
	width:500px;
}
.space17 {
	padding-top:17px;
}
.smlapp {
	height:275px;
}
.utility {
	margin-top:6px;
	margin-bottom:24px;
}
.icon {
	margin-bottom:-2px;
}
