<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Lambrou</string>
	<key>XtraBundleVersion</key>
	<string>1</string>
	<key>Colors</key>
	<dict>
		<key>Founder</key>
		<string>141,71,14</string>
		<key>Op</key>
		<string>137,127,6</string>
		<key>Half-op</key>
		<string>63,63,63</string>
		<key>Voice</key>
		<string>37,76,169</string>
		<key>None</key>
		<string>0,0,0</string>
	</dict>
	<key>Icons</key>
	<dict>
		<key>Founder</key>
		<string>founder.tiff</string>
		<key>Op</key>
		<string>op.tiff</string>
		<key>Half-op</key>
		<string>half-op.tiff</string>
		<key>Voice</key>
		<string>voice.tiff</string>
		<key>None</key>
		<string>none.tiff</string>
	</dict>
</dict>
</plist>
