<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIBuildDate</key>
	<string>BUILDDATE</string>
	<key>AIBuildIdentifier</key>
	<string>BUILDID</string>
	<key>AppleDockIconEnabled</key>
	<string>YES</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumPlugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumPlugin.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Plugin</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AdIM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.plugin</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumLibpurplePlugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumPlugin.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Libpurple Plugin</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AdIM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.libpurpleplugin</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumIcon</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Dock Icon</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIDk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.dockicon</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumSoundset</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumSoundset.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Sound Set</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AISd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.soundset</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumMenuBarIcons</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumMenuBarIcons.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Menu Bar Icons</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AdMB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.menubaricons</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumEmoticonset</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumEmoticonset.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Emoticon Set</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIEm</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.emoticonset</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumMessageStyle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumMessageStyle.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Message Style</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIWK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.messagestyle</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumScripts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumScripts.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Scripts</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIAS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.script</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ListLayout</string>
				<string>AdiumListLayout</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumListLayout.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium List Layout</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AILL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.contactlistlayout</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ListTheme</string>
				<string>AdiumListTheme</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumListTheme.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium List Theme</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AILT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.contactlisttheme</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumStatusIcons</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumStatusIcons</string>
			<key>CFBundleTypeName</key>
			<string>Adium Status Icons</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AISt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.statusicons</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumServiceIcons</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumServiceIcons.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Service Icons</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AISr</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.serviceicons</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumHTMLLog</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Adium.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Chat Log</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AILh</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.htmllog</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumGroupChatStatusIcons</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Adium.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Group Chat Status Icons</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIGc</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.groupchatstatusicons</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>chatlog</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Adium.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Chat Log</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AILo</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.xmllog</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Adium</string>
	<key>CFBundleGetInfoString</key>
	<string>1.6hg, Copyright © 2001-2013 The Adium Team</string>
	<key>CFBundleHelpBookFolder</key>
	<string>AdiumHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>Adium Help</string>
	<key>CFBundleIconFile</key>
	<string>Adium.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumX.adiumX</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Adium</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6hg</string>
	<key>CFBundleSignature</key>
	<string>AdIM</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
			<key>CFBundleURLName</key>
			<string>AIM URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aim</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
			<key>CFBundleURLName</key>
			<string>Yahoo! Messenger URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ymsgr</string>
				<string>yahoo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
			<key>CFBundleURLName</key>
			<string>Jabber URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xmpp</string>
				<string>jabber</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
			<key>CFBundleURLName</key>
			<string>Google Talk URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gtalk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
			<key>CFBundleURLName</key>
			<string>Microsoft Network URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
			<key>CFBundleURLName</key>
			<string>Twitter Reply URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterreply</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
			<key>CFBundleURLName</key>
			<string>MySpace Service URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msim</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
			<key>CFBundleURLName</key>
			<string>IRC Service URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>irc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
			<key>CFBundleURLName</key>
			<string>Adium Xtra installation URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>adiumxtra</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.6hg</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSFileQuarantineEnabled</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.8</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>AIApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>Adium.sdef</string>
	<key>SUCheckAtStartup</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://www.adium.im/sparkle/update.php</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SmartCrashReports_CompanyName</key>
	<string>Adium</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-2631F8982F</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>com.apple.bundle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium Xtra</string>
			<key>UTTypeIconFile</key>
			<string>AdiumXtra.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.xtra</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adiumx.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium plug-in</string>
			<key>UTTypeIconFile</key>
			<string>AdiumPlugin.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.plugin</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AdIM</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumPlugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adiumx.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium Libpurple plug-in</string>
			<key>UTTypeIconFile</key>
			<string>AdiumPlugin.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.libpurpleplugin</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AdIM</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumLibpurplePlugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adiumx.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium WebKit Message View style</string>
			<key>UTTypeIconFile</key>
			<string>AdiumMessageStyle.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.messagestyle</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AIWK</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumMessageStyle</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adiumx.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium Dock icon pack</string>
			<key>UTTypeIconFile</key>
			<string>AdiumIcon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.dockicon</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AIDk</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumIcon</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adiumx.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium sound set</string>
			<key>UTTypeIconFile</key>
			<string>AdiumSoundset.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.soundset</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AISd</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumSoundset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adiumx.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium emoticon set</string>
			<key>UTTypeIconFile</key>
			<string>AdiumEmoticonset.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.emoticonset</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AIEm</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumEmoticonset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adiumx.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium script pack</string>
			<key>UTTypeIconFile</key>
			<string>AdiumScripts.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.script</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AIAS</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumScripts</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adiumx.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium contact list layout</string>
			<key>UTTypeIconFile</key>
			<string>AdiumListLayout.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.contactlistlayout</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AILL</string>
				<key>public.filename-extension</key>
				<array>
					<string>ListLayout</string>
					<string>AdiumListLayout</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adiumx.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium contact list color theme</string>
			<key>UTTypeIconFile</key>
			<string>AdiumListTheme.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.contactlisttheme</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AILT</string>
				<key>public.filename-extension</key>
				<array>
					<string>ListTheme</string>
					<string>AdiumListTheme</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adiumx.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium status icon pack</string>
			<key>UTTypeIconFile</key>
			<string>AdiumStatusIcons.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.statusicons</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AISt</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumStatusIcons</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adiumx.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium service icon pack</string>
			<key>UTTypeIconFile</key>
			<string>AdiumServiceIcons.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.serviceicons</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AISr</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumServiceIcons</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adiumx.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium menu bar icons pack</string>
			<key>UTTypeIconFile</key>
			<string>AdiumMenuBarIcons.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.menubaricons</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xtras.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AdMB</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumMenuBarIcons</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bundle</string>
				<string>com.apple.package</string>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.text</string>
				<string>public.message</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium chat log</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.xmllog</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AILo</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumLog</string>
					<string>chatlog</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.html</string>
				<string>public.text</string>
				<string>public.content</string>
				<string>public.message</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium HTML chat log</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.htmllog</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.adium.im</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AILh</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumHTMLLog</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
