<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Translator</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumX.Translator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>AdiM</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>NSPrincipalClass</key>
	<string>AITranslatorPlugin</string>
	<key>AIMinimumAdiumVersionRequirement</key>
	<string>1.3</string>
</dict>
</plist>
