<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>XtraBundleVersion</key>
	<string>1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>2.1</string>
	<key>OriginalAuthor</key>
	<string>polymnemonic</string>
	<key>CFBundleIdentifier</key>
	<string>im.adium.minimal_mod.style</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>minimal_mod</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>DefaultFontFamily</key>
	<string>Lucida Grande</string>
	<key>DefaultFontSize</key>
	<integer>10</integer>
	<key>DefaultVariant</key>
	<string>SenderColor</string>
	<key>MessageViewVersion</key>
	<integer>4</integer>
	<key>ShowsUserIcons</key>
	<true/>
</dict>
</plist>
