<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Info</key>
	<string>Created by Adam Iser

The original Adium sounds.

Adam Iser (adamiser@mac.com)
http://www.adium.im
</string>
	<key>Sounds</key>
	<dict>
		<key>Contact Signed Off</key>
		<string>Deflate.aif</string>
		<key>Contact Signed On</key>
		<string>Inflate.aif</string>
		<key>Message Received</key>
		<string>Inhale.aif</string>
		<key>Message Received (New)</key>
		<string>Quack.aif</string>
		<key>Message Received (Stranger)</key>
		<string>Feather Ruffle.aif</string>
		<key>Message Sent</key>
		<string>Exhale.aif</string>
	</dict>
</dict>
</plist>
