body {
    background: white url(images/background.png) center top repeat-x fixed;
	font-weight: normal;
}
	                
.incoming { color: #a6002c; }
.context .incoming { color:#A65369; }

.outgoing { color: #001190; }
.context .outgoing { color: #47508F; }

.container {
    	position: relative;
    	background: url("images/bottom_right.png") bottom right no-repeat;
	margin: 15px 0px 0px 43px;
	min-height: 25px;
}

.context {
	background: url("images/context_bottom_right.png") bottom right no-repeat;
}
                
.sender {
    top: -16px;
    left: -41px;
    right: 38px;
    position: absolute;
    background: url("images/top_left.png") top left no-repeat;
    font-size: 11px;
    font-weight: bold;
    text-transform: lowercase;
    text-shadow: 1px 1px 3px #ccc;
    padding: 13px 5px 0 56px;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.context .sender {
	background: url("images/context_top_left.png") top left no-repeat; 
}
    
.time_initial {
    position: absolute;
    right: 0;
    top: -16px;
    background: url("images/top_right.png") top right no-repeat;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #ccc;
    color: #808080;
    padding: 14px 16px 0 5px;
    margin-bottom: 0;
    }
    
.context .time_initial {
	background: url("images/context_top_right.png") top right no-repeat;
}
    
.time_consecutive {
    float: left;
    background: 29px url("images/arrow.png") no-repeat;
    margin-left: -40px;
    margin-top: 10px;
    font-size: 9px;
    text-shadow: 1px 1px 3px #ddd;
    color: #bfbfbf;
    }

    
.buddyicon {
    position: absolute;
	background: url("images/buddy_background.png");
    top: -5px;
    left: -29px;
    z-index: 4;
	width: 40px;
    }
	
.buddyicon img {
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 3;
	}
    
.message {
	position: relative;
	background: url("images/bottom_left.png") bottom left repeat-y;
	margin: 0px -24px 0px -41px;
	text-shadow: 1px 1px 3px #ccc;
	padding: 10px 0 10px 56px;
	min-height: 25px;
	color: #404040;
}
 
.context .message {
	background: url("images/context_bottom_left.png") bottom left repeat-y;
	color: #666666;
	}    
   
.text {
	padding: 6px 40px 6px 0;
	margin: 0;
	overflow: auto;
}
 
.time_consecutive + .text{ /* Next message in same bubble */
	margin-top: 7px;
	padding-top: 0px;
}   
.status_container {
    position: relative;
    margin: 0px 5px 5px 5px;
    color: #fff;
    text-shadow: 1px 1px 3px #aaa;
    font-size: 9px;
    font-weight: bold;
    text-transform: lowercase;
}
.status_top {
	background: url("images/status_top.png") top repeat-x;
	height: 9px;
	margin: 0px 9px 0px 9px;
}
.status_bottom {
	background: url("images/status_bottom.png") bottom repeat-x;
	height: 9px;
	margin: 0px 9px 0px 9px;	
}

.status_message_upperleft {
	position: absolute;
	top: 0;
	left: 0;
	width: 9px;
	height: 9px;
	background: url("images/status_left_top.png") top left no-repeat;
}
.status_message_upperright {
	position: absolute;
	top: 0;
	right: 0;	
	width: 9px;
	height: 9px;
	background: url("images/status_right_top.png") top right no-repeat;
}
.status_message_lowerleft {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 9px;
	height: 9px;
	background: url("images/status_left_bottom.png") bottom left no-repeat;
}
.status_message_lowerright {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 9px;
	height: 9px;
	background: url("images/status_right_bottom.png") bottom right no-repeat;
}

.status_message {
	padding: 0px 9px 0px 9px;
    position: relative;
	margin: 0px;
}
.status_message_text {
	background: url("images/status_background.png");
	padding-right: 40px;
}
.status_left {
	background: url("images/status_left.png") repeat-y;
	position: absolute;
	top: 0;
	left: 0px;
	width: 9px;
	height: 100%;
}
.status_right {
	background: url("images/status_right.png") repeat-y;
	position: absolute;
	top: 0;
	right: 0;
	width: 9px;
	height: 100%;
}
.status_time {
    position: absolute;
    top: 7px;
    right: 11px;
    text-transform: uppercase;
    font-size: 8px;
}

IMG {
	vertical-align:middle;
        top:-3px;
}

img.scaledToFitImage{ width:auto; }

#Chat {
	overflow: hidden;
	margin-bottom: -8px;
}
