DYLIB_CURRENT_VERSION = 1
SKIP_INSTALL = YES
INFOPLIST_FILE = Plists/Adium_Framework.plist
PRODUCT_NAME = Adium
DYLIB_COMPATIBILITY_VERSION = 1
LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_QUOTED_4)
INSTALL_PATH = @executable_path/../Frameworks
HEADER_SEARCH_PATHS_QUOTED_4 = Plugins/Purple\ Service/Include/
FRAMEWORK_VERSION = A
