HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_2 = "$(SRCROOT)/Frameworks/libotr.framework/Headers"
HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_3 = "$(SRCROOT)/Frameworks/libglib.framework/Headers"
HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_6 = "$(SRCROOT)/Frameworks/libgcrypt.framework/Headers"
HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_7 = "$(SRCROOT)/Frameworks/libgpgerror.framework/Headers"
PRODUCT_NAME = Adium
FRAMEWORK_SEARCH_PATHS = $(inherited)
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -C
INFOPLIST_PREPROCESS = YES
INFOPLIST_FILE = Plists/Info.plist
INFOPLIST_PREFIX_HEADER = $(TARGET_BUILD_DIR)/include/PlistMacros.h
LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_2) $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_3) $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_4) $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_6) $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_7)
OTHER_LDFLAGS = -framework QTKit
