HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_1 = "$(SRCROOT)/Frameworks/RBSplitView/Source"
HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_2 = "$(SRCROOT)/Frameworks/OTR.framework/Headers"
PRODUCT_NAME = Adium
FRAMEWORK_SEARCH_PATHS = $(inherited)
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -C
INFOPLIST_PREPROCESS = YES
OTHER_LDFLAGS = 
INFOPLIST_FILE = Plists/Info.plist
HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_3 = "$(SRCROOT)/Frameworks/libglib.framework/Headers"
INFOPLIST_PREFIX_HEADER = $(TARGET_BUILD_DIR)/include/PlistMacros.h
LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_1) $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_2) $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_3) $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_4)
HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_4 = "$(SDKROOT)/usr/include/libxml2"
OTHER_CFLAGS = $(CFLAGS)
