LIBRARY_SEARCH_PATHS = $(inherited) $(LIBRARY_SEARCH_PATHS_QUOTED_FOR_TARGET_1)
HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_1 = "$(SRCROOT)/Frameworks/libpurple.framework/Headers"
HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_2 = "$(SRCROOT)/Frameworks/libglib.framework/Headers"
HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_3 = "$(SRCROOT)/Frameworks/libintl.framework/Headers"
HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_4 = "$(SRCROOT)/Frameworks/libgstreamer.framework/Headers"
HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_5 = "$(SDKROOT)/usr/include/libxml2"
LIBRARY_SEARCH_PATHS_QUOTED_FOR_TARGET_1 = "$(SDKROOT)/usr/lib"
PRODUCT_NAME = AdiumLibpurple
SKIP_INSTALL = YES
DYLIB_CURRENT_VERSION = 1
OTHER_LDFLAGS = -lsasl2
INFOPLIST_FILE = Plists/AdiumLibpurple.plist
DYLIB_COMPATIBILITY_VERSION = 1
LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_1) $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_2) $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_3) $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_4) $(HEADER_SEARCH_PATHS_QUOTED_FOR_TARGET_5)
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)/Frameworks"
INSTALL_PATH = @executable_path/../Frameworks
FRAMEWORK_VERSION = A
GCC_PREPROCESSOR_DEFINITIONS = $(value) ENABLE_NLS HAVE_CDSA
CLANG_ENABLE_OBJC_ARC = YES
