#include "Base.xcconfig"
FRAMEWORK_SEARCH_PATHS_QUOTED_FOR_PROJECT_2 = "$(SRCROOT)/Frameworks" "$(SRCROOT)/Frameworks/Sparkle/build/Debug"
STRIP_INSTALLED_PRODUCT = NO
GCC_OPTIMIZATION_LEVEL = 0
COPY_PHASE_STRIP = NO
GCC_PREPROCESSOR_DEFINITIONS = DEBUG_BUILD
ONLY_ACTIVE_ARCH = YES
IBC_STRIP_NIBS = NO;