INFOPLIST_FILE = Other/Adium Spotlight Importer/Info.plist
PRODUCT_NAME = AdiumSpotlightImporter
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(SRCROOT)/Other/Adium Spotlight Importer/Prefix.pch
WRAPPER_EXTENSION = mdimporter
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
INSTALL_PATH = /Library/Spotlight
LIBRARY_STYLE = bundle
CLANG_ENABLE_OBJC_ARC = YES
