GCC_PREFIX_HEADER = UnitTests/UnitTests_Prefix.pch
INFOPLIST_FILE = Plists/UnitTests-Info.plist
PRODUCT_NAME = Unit tests
FRAMEWORK_SEARCH_PATHS = $(value) $(DEVELOPER_FRAMEWORKS_DIR_QUOTED)
GCC_PRECOMPILE_PREFIX_HEADER = YES
WRAPPER_EXTENSION = octest
LD_RUNPATH_SEARCH_PATHS = @loader_path/../Frameworks
INSTALL_PATH = $(USER_LIBRARY_DIR)/Bundles
