<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Zephyr:Export .anyone</key>
	<false/>
	<key>Zephyr:Export .zephyr.subs</key>
	<false/>
	<key>Zephyr:Exposure</key>
	<string>REALM-VISIBLE</string>
	<key>Zephyr:Encoding</key>
	<string>ISO-8859-1</string>
	<key>Zephyr:Launch zhm</key>
	<true/>
    <key>Zephyr:Servers</key>
	<array>
		<string>neskaya.mit.edu</string>
		<string>arilinn.mit.edu</string>
	</array>
</dict>
</plist>
