<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Proxy Type</key>
	<integer>5</integer>
	<key>Proxy Needs Authentication</key>
	<false/>

	<key>Check Mail</key>
	<false/>
	
	<key>TextProfile</key>
	<data>
	e1xydGYxXG1hY1xhbnNpY3BnMTAwMDBcY29jb2FydGYx
	MDIKe1xmb250dGJsfQp7XGNvbG9ydGJsO1xyZWQyNTVc
	Z3JlZW4yNTVcYmx1ZTI1NTt9Cn0=
	</data>

	<key>Broadcast Music Information</key>
	<false/>
</dict>
</plist>
