<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Connect Port</key>
	<integer>5222</integer>
	<key>Jabber:Connect Server</key>
	<string>talk.google.com</string>
	<key>Jabber:Resource</key>
	<string>Adium</string>
	<key>Jabber:Use TLS</key>
	<true/>
	<key>Jabber:File Transfer Proxies</key>
	<string>proxy.eu.jabber.org</string>
	<key>Display Custom Emoticons</key>
	<true/>
</dict>
</plist>
