<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Connect Host</key>
	<string>login.icq.com</string>
	<key>Connect Port</key>
	<integer>5190</integer>
	<key>ICQ:Encoding</key>
	<string>ISO-8859-1</string>
	<key>ICQ:RequireAuthorization</key>
	<true/>
	<key>ICQ:WebAware</key>
	<false/>
</dict>
</plist>
