<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Info</key>
	<string>Created by Zeethrogise

Version 3.0 of the popular Adium Soundset

________________
http://www.adium.im
</string>
	<key>Sounds</key>
	<dict>
		<key>Contact Signed Off</key>
		<string>Contact_Off.m4a</string>
		<key>Contact Signed On</key>
		<string>Contact_On.m4a</string>
		<key>Message Received</key>
		<string>Message_Received.m4a</string>
		<key>Message Received (New)</key>
		<string>New_Message.m4a</string>
		<key>Message Sent</key>
		<string>Message_Sent.m4a</string>
	</dict>
</dict>
</plist>
