.incoming { color: #0090ff; }
.outgoing { color: #333333; }
.status { color: #0090ff; }
.greyed { color: #CCCCCC; }

.incoming_link a { color: #0090ff; }
.outgoing_link a { color: #000000; }
.status_link a { color: #0090ff; }
.greyed_link a { color: #999999; }
