.incoming { color: #ff7800; }
.outgoing { color: #0090ff; }
.status { color: #ff7800; }
.greyed { color: #CCCCCC; }

.incoming_link a { color: #ff7800; }
.outgoing_link a { color: #0090ff; }
.status_link a { color: #ff7800; }
.greyed_link a { color: #999999; }
