.incoming { color: #ff0c00; }
.outgoing { color: #707070; }
.status { color: #ff0c00; }
.greyed { color: #CCCCCC; }

.incoming_link a { color: #ff0c00; }
.outgoing_link a { color: #707070; }
.status_link a { color: #ff0c00; }
.greyed_link a { color: #999999; }
