<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>flex</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://flex.sourceforge.net</string>
        <key>OpenSourceVersion</key>
        <string>2.5.33</string>
        <key>OpenSourceURL</key>
	<string>http://prdownloads.sourceforge.net/flex/flex-2.5.33.tar.bz2?download</string>
	<key>OpenSourceSHA1</key>
	<string>acdb8fff6455967ad1a5bfc71855dbcc1253ee56</string>
        <key>OpenSourceImportDate</key>
        <string>2006-12-15</string>
        <key>OpenSourceModifications</key>
        <array>
		<string>input() must return 0 at EOF</string>
		<string>Clear stdin error when rewiring for child</string>
		<string>scanopt.c diff from CVS ToT May 15, 2007</string>
		<string>libmain's main() must exit</string>
		<string>find M4 in $PATH</string>
        </array>
        <key>OpenSourceLicense</key>
        <string>Other</string>
        <key>OpenSourceLicenseFile</key>
        <string>flex.txt</string>
</dict>
</array>
</plist>

