<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Service Class</key>
	<string>AIM-compatible</string>
	<key>Location</key>
	<array>
		<string>/System/Library/PrivateFrameworks/InstantMessage.framework/Versions/A/Resources</string>
		<string>/System/Library/PrivateFrameworks/SocialUI.framework/Versions/A/Resources/Standard.smileypack/Contents/Resources</string>
		<string>com.apple.iChat////Contents/PlugIns/Standard.smileypack/Contents/Resources</string>
		<string>com.apple.iChat////Contents/Resources</string>
	</array>
	<key>Emoticons</key>
	<dict>
		<key>ambivalent</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-|</string>
				<string>:|</string>
			</array>
			<key>Name</key>
			<string>Thinking</string>
		</dict>
		<key>angry</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:o</string>
				<string>&gt;:-o</string>
				<string>&gt;:O</string>
				<string>&gt;:-O</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>confused</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-S</string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>crazy</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>%-)</string>
			</array>
			<key>Name</key>
			<string>Crazy</string>
		</dict>
		<key>embarrassed</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
				<string>:[</string>
			</array>
			<key>Name</key>
			<string>Embarrassed</string>
		</dict>
		<key>cry</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:&apos;(</string>
			</array>
			<key>Name</key>
			<string>Cry</string>
		</dict>
		<key>footinmouth</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-!</string>
				<string>:!</string>
			</array>
			<key>Name</key>
			<string>Foot In Mouth</string>
		</dict>
		<key>frown</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
			</array>
			<key>Name</key>
			<string>Frown</string>
		</dict>
		<key>gasp</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=-o</string>
				<string>=-O</string>
				<string>=o</string>
				<string>=O</string>
				<string>:o</string>
				<string>:O</string>
				<string>:-o</string>
				<string>:-O</string>
			</array>
			<key>Name</key>
			<string>Gasp</string>
		</dict>
		<key>grin</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>^_^</string>
				<string>:))</string>
			</array>
			<key>Name</key>
			<string>Laugh</string>
		</dict>
		<key>heart</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&lt;3</string>
			</array>
			<key>Name</key>
			<string>Heart</string>
		</dict>
		<key>laugh</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string>:D</string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>innocent</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(A)</string>
				<string>O:-)</string>
				<string>O:)</string>
				<string>o:-)</string>
				<string>o:)</string>
			</array>
			<key>Name</key>
			<string>Halo</string>
		</dict>
		<key>kiss</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string>:*</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>sealed</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-X</string>
				<string>:X</string>
			</array>
			<key>Name</key>
			<string>Lips Are Sealed</string>
		</dict>
		<key>moneymouth</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
				<string>:$</string>
			</array>
			<key>Name</key>
			<string>Money-mouth</string>
		</dict>
		<key>smile</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>yuck</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-p</string>
				<string>:-P</string>
				<string>:P</string>
				<string>:p</string>
			</array>
			<key>Name</key>
			<string>Sticking Out Tongue</string>
		</dict>
		<key>slant</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-\</string>
				<string>:-/</string>
				<string>:/</string>
				<string>:\</string>
			</array>
			<key>Name</key>
			<string>Undecided</string>
		</dict>
		<key>cool</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
				<string>8)</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>naughty</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(6)</string>
				<string>&gt;:-)</string>
				<string>&gt;:)</string>
				<string>&gt;:-D</string>
				<string>&gt;:D</string>
			</array>
			<key>Name</key>
			<string>Naughty</string>
		</dict>
		<key>nerd</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-B</string>
			</array>
			<key>Name</key>
			<string>Nerd</string>
		</dict>
		<key>sarcastic</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-&gt;</string>
				<string>:&gt;</string>
				<string>^o)</string>
			</array>
			<key>Name</key>
			<string>Sarcastic</string>
		</dict>
		<key>sick</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-&amp;</string>
				<string>+o(</string>
			</array>
			<key>Name</key>
			<string>Sick</string>
		</dict>
		<key>thumbsdown</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(N)</string>
				<string>(n)</string>
			</array>
			<key>Name</key>
			<string>Thumbs Down</string>
		</dict>
		<key>thumbsup</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(Y)</string>
				<string>(y)</string>
			</array>
			<key>Name</key>
			<string>Thumbs Up</string>
		</dict>
		<key>wink</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
		<key>yum</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-d</string>
			</array>
			<key>Name</key>
			<string>Yum</string>
		</dict>
	</dict>
</dict>
</plist>
