<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Service Class</key>
	<string>AIM-compatible</string>
	<key>Location</key>
	<array>
		<string>/System/Library/PrivateFrameworks/InstantMessage.framework/Versions/A/Resources</string>
		<string>com.apple.iChat////Contents/Resources</string>
	</array>
	<key>Emoticons</key>
	<dict>
		<key>angry</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:o</string>
				<string>&gt;:-o</string>
				<string>&gt;:O</string>
				<string>&gt;:-O</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>embarrassed</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
				<string>:[</string>
			</array>
			<key>Name</key>
			<string>Embarrassed</string>
		</dict>
		<key>cry</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'(</string>
			</array>
			<key>Name</key>
			<string>Cry</string>
		</dict>
		<key>footinmouth</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-!</string>
				<string>:!</string>
			</array>
			<key>Name</key>
			<string>Foot In Mouth</string>
		</dict>
		<key>frown</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
			</array>
			<key>Name</key>
			<string>Frown</string>
		</dict>
		<key>gasp</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=-o</string>
				<string>=-O</string>
				<string>=o</string>
				<string>=O</string>
				<string>:o</string>
				<string>:O</string>
				<string>:-o</string>
				<string>:-O</string>
			</array>
			<key>Name</key>
			<string>Gasp</string>
		</dict>
		<key>laugh</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string>:D</string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>innocent</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:-)</string>
			</array>
			<key>Name</key>
			<string>Halo</string>
		</dict>
		<key>kiss</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string>:*</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>sealed</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-X</string>
				<string>:X</string>
			</array>
			<key>Name</key>
			<string>Lips Are Sealed</string>
		</dict>
		<key>moneymouth</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
				<string>:$</string>
			</array>
			<key>Name</key>
			<string>Money-mouth</string>
		</dict>
		<key>smile</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>yuck</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-p</string>
				<string>:-P</string>
				<string>:P</string>
				<string>:p</string>
			</array>
			<key>Name</key>
			<string>Sticking Out Tongue</string>
		</dict>
		<key>slant</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-\</string>
				<string>:-/</string>
				<string>:/</string>
				<string>:\</string>
			</array>
			<key>Name</key>
			<string>Undecided</string>
		</dict>
		<key>cool</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
				<string>8)</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>wink</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
	</dict>
</dict>
</plist>
