<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>List</key>
	<dict>
		<key>Blocked</key>
		<string>blocked.png</string>
		<key>Busy</key>
		<string>busy.png</string>
		<key>Generic Available</key>
		<string>available.png</string>
		<key>Generic Away</key>
		<string>away.png</string>
		<key>Idle</key>
		<string>idle.png</string>
		<key>Invisible</key>
		<string>invisible.png</string>
		<key>Mobile</key>
		<string>mobile.png</string>
		<key>Offline</key>
		<string>offline.png</string>
		<key>Unknown</key>
		<string>unknown.png</string>
		<key>content</key>
		<string>content.png</string>
		<key>enteredtext</key>
		<string>enteredtext.png</string>
		<key>typing</key>
		<string>typing.png</string>
	</dict>
	<key>Tabs</key>
	<dict>
		<key>Blocked</key>
		<string>blocked.png</string>
		<key>Busy</key>
		<string>busy.png</string>
		<key>Generic Available</key>
		<string>tab-available.png</string>
		<key>Generic Away</key>
		<string>tab-away.png</string>
		<key>Idle</key>
		<string>tab-idle.png</string>
		<key>Invisible</key>
		<string>tab-invisible.png</string>
		<key>Mobile</key>
		<string>tab-mobile.png</string>
		<key>Offline</key>
		<string>tab-offline.png</string>
		<key>Unknown</key>
		<string>tab-unknown.png</string>
		<key>content</key>
		<string>tab-content.png</string>
		<key>enteredtext</key>
		<string>tab-enteredtext.png</string>
		<key>typing</key>
		<string>tab-typing.png</string>
	</dict>
</dict>
</plist>
