<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumStatusIcons</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumStatusIcons</string>
			<key>CFBundleTypeName</key>
			<string>Adium Status Icons</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AISt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.statusicons</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXCStatusIconPackDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumServiceIcons</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumServiceIcons.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Service Icons</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AISr</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.serviceicons</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXCServiceIconPackDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumSoundset</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumSoundset.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Sound Set</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AISd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.soundset</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXCSoundSetDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumEmoticonset</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumEmoticonset.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Emoticon Set</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIEm</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.emoticonset</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXCEmoticonSetDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumMessageStyle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumMessageStyle.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Message Style</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIWK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.messagestyle</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXCMessageStyleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumScripts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumScripts.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Scripts</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIAS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.script</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXCScriptPackDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumIcon</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AdiumIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adium Dock Icon pack</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIDk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.dockicon</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>AXCDockIconPackDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>XtrasCreator</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.XtrasCreator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>XTRA</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
