<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Horizontal Autosizing</key>
	<false/>
	<key>Horizontal Width</key>
	<integer>150</integer>
	<key>List Layout Name</key>
	<string>Aqualicious</string>
	<key>List Theme Name</key>
	<string>Aqualicious</string>
	<key>Menu Bar Icons</key>
	<string>Adiumy</string>
	<key>Group Chat Status Icons</key>
	<string>Lambrou</string>
	<key>Service Icon Pack</key>
	<string>Aqua</string>
	<key>Status Icon Pack</key>
	<string>iBubble Status</string>
	<key>Vertical Autosizing</key>
	<false/>
	<key>Vertical Height</key>
	<integer>1280</integer>
	<key>Window Opacity</key>
	<real>1</real>
	<key>Window Style</key>
	<integer>0</integer>
</dict>
</plist>
