<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Status Type</key>
		<real>0</real>
		<key>Status Name</key>
		<string>Generic Available</string>
		<key>Mutability Type</key>
		<real>1</real>
		<key>Unique ID</key>
		<real>-999</real>
	</dict>
	<dict>
		<key>Status Type</key>
		<real>1</real>
		<key>Status Name</key>
		<string>Generic Away</string>
		<key>Mutability Type</key>
		<real>1</real>
		<key>Unique ID</key>
		<real>-1000</real>
	</dict>
	<dict>
		<key>Status Type</key>
		<real>2</real>
		<key>Status Name</key>
		<string>Invisible</string>
		<key>Mutability Type</key>
		<real>1</real>
		<key>Unique ID</key>
		<real>-1002</real>
	</dict>
	<dict>
		<key>Status Type</key>
		<real>3</real>
		<key>Mutability Type</key>
		<real>1</real>
		<key>Unique ID</key>
		<real>-1001</real>
	</dict>
</array>
</plist>
