<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Confirm Message Window Close</key>
	<true/>
	<key>Suppress Quit Confirmation for File Transfers</key>
	<false/>
	<key>Suppress Quit Confirmation for Unread Messages</key>
	<false/>
	<key>Suppress Send Crash Reports</key>
	<false/>
</dict>
</plist>
