<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Window Level</key>
	<real>0</real>
	<key>Hide While in Background</key>
	<false/>
	<key>Flash Unviewed Content</key>
	<false/>
	<key>Animate Changes</key>
	<true/>
	<key>Show Tooltips</key>
	<true/>
	<key>Show Tooltips in Background</key>
	<true/>
	<key>Window Has Shadow</key>
	<true/>
	<key>IsExpanded</key>
	<true/>
</dict>
</plist>
