<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Status Label Opacity</key>
    <real>1.0</real>
    <key>Away Enabled</key>
    <true/>
    <key>Idle Enabled</key>
    <true/>
    <key>Signed Off Enabled</key>
    <true/>
    <key>Signed On Enabled</key>
    <true/>
    <key>Typing Enabled</key>
    <true/>
    <key>Unviewed Content Enabled</key>
    <true/>
    <key>Online Enabled</key>
    <false/>
    <key>Idle And Away Enabled</key>
    <false/>
	<key>Offline Enabled</key>
	<true/>
    <key>Away Color</key>
    <string>49,49,49</string>
    <key>Idle Color</key>
    <string>49,49,49</string>
    <key>Signed Off Color</key>
    <string>255,255,255</string>
    <key>Signed On Color</key>
    <string>255,255,255</string>
    <key>Typing Color</key>
    <string>255,255,255</string>
    <key>Unviewed Content Color</key>
    <string>255,255,255</string>
    <key>Online Color</key>
    <string>0,0,0</string>
    <key>Idle And Away Color</key>
    <string>49,49,49</string>
    <key>Away Label Color</key>
    <string>234,234,214</string>
    <key>Idle Label Color</key>
    <string>234,234,234</string>
    <key>Signed Off Label Color</key>
    <string>198,55,43</string>
    <key>Signed On Label Color</key>
    <string>43,198,56</string>
    <key>Typing Label Color</key>
    <string>43,157,198</string>
    <key>Unviewed Content Label Color</key>
    <string>43,69,198</string>
    <key>Online Label Color</key>
    <string>209,234,220</string>
    <key>Idle And Away Label Color</key>
    <string>233,233,214</string>
	<key>Offline Color</key>
	<string>50,50,50</string>
	<key>Offline Label Color</key>
	<string>240,240,240</string>
	<key>Background Color</key>
	<string>255,255,255</string>
	<key>Grid Color</key>
	<string>245,245,245</string>
	<key>Group Background</key>
	<string>138,186,255</string>
	<key>Group Background Gradient</key>
	<string>106,169,255</string>
	<key>Group Text Color</key>
	<string>0,0,0</string> 
	<key>Group Shadow Color</key>
	<string>128,128,128</string> 
	<key>Group Inverted Text Color</key>
	<string>255,255,255</string> 
	<key>Contact Status Text Color</key>
	<string>128,128,128</string> 
	<key>Fade Offline Images</key>
	<true/>
</dict>
</plist>
