<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<? *** This list of classes is utilized by AICoreComponentLoader to determine what components to load *** ?>
<array>
	<? *** Load the Address Book Plugin early so AB information is available to later components *** ?>
	<string>ESAddressBookIntegrationPlugin</string>
	<string>AIAccountListPreferencesPlugin</string>
	<string>AIAccountMenuAccessPlugin</string>
	<string>AIAliasSupportPlugin</string>
	<string>AIAppearancePreferencesPlugin</string>
	<string>AIAutoIdlePlugin</string>
	<string>AIAutoLinkingPlugin</string>
	<string>AIAutoReplyPlugin</string>
	<string>AIChatConsolidationPlugin</string>
	<string>AIChatCyclingPlugin</string>
	<string>AIContactAwayPlugin</string>
	<string>AIContactIdlePlugin</string>
	<string>AIContactInfoWindowPlugin</string>
	<string>AIContactListEditorPlugin</string>
	<string>AIContactOnlineSincePlugin</string>
	<string>AIContactSortSelectionPlugin</string>
	<string>AIContactStatusColoringPlugin</string>
	<string>AIContactStatusDockOverlaysPlugin</string>
	<string>AIContactStatusEventsPlugin</string>
	<string>AIContactWarningLevelPlugin</string>
	<string>AIDefaultFormattingPlugin</string>
	<string>AIDockAccountStatusPlugin</string>
	<string>AIDockBehaviorPlugin</string>
	<string>AIDockUnviewedContentPlugin</string>
	<string>AIDualWindowInterfacePlugin</string>
	<string>AIEventSoundsPlugin</string>
	<string>AIExtendedStatusPlugin</string>
	<string>AILoggerPlugin</string>
	<string>AIMessageAliasPlugin</string>
	<string>AINewMessagePanelPlugin</string>
	<string>AINudgeBuzzHandlerPlugin</string>
	<string>AIOfflineContactHidingPlugin</string>
	<string>AISCLViewPlugin</string>
	<string>AIStandardToolbarItemsPlugin</string>
	<string>AIStateMenuPlugin</string>
	<string>AIStatusChangedMessagesPlugin</string>
	<string>AITabStatusIconsPlugin</string>
	<string>BGContactNotesPlugin</string>
	<string>BGEmoticonMenuPlugin</string>
	<string>CBActionSupportPlugin</string>
	<string>CBContactCountingDisplayPlugin</string>
	<string>CBContactLastSeenPlugin</string>
	<string>CBStatusMenuItemPlugin</string>
	<string>DCInviteToChatPlugin</string>
	<string>DCJoinChatPanelPlugin</string>
	<string>DCMessageContextDisplayPlugin</string>
	<string>AIAddBookmarkPlugin</string>
	<string>ESAccountEvents</string>
	<string>ESAccountNetworkConnectivityPlugin</string>
	<string>ESAnnouncerPlugin</string>
	<string>ESApplescriptContactAlertPlugin</string>
	<string>ESBlockingPlugin</string>
	<string>ESContactClientPlugin</string>
	<string>ESContactServersideDisplayName</string>
	<string>ESFastUserSwitchingSupportPlugin</string>
	<string>ESFileTransferMessagesPlugin</string>
	<string>ESMetaContactContentsPlugin</string>
	<string>ESOpenMessageWindowContactAlertPlugin</string>
	<string>ESSafariLinkToolbarItemPlugin</string>
	<string>ESSendMessageContactAlertPlugin</string>
	<string>ESUserIconHandlingPlugin</string>
	<string>ErrorMessageHandlerPlugin</string>
	<string>GBApplescriptFiltersPlugin</string>
	<string>SAContactOnlineForPlugin</string>
	<string>SHLinkManagementPlugin</string>
	<string>ESGlobalEventsPreferencesPlugin</string>
	<string>ESGeneralPreferencesPlugin</string>
	<string>NEHGrowlPlugin</string>
	<string>ESSecureMessagingPlugin</string>
	<string>ESStatusPreferencesPlugin</string>
	<string>ESAutoAwayPlugin</string>
	<string>ESAwayStatusWindowPlugin</string>
	<string>RAFBlockEditorPlugin</string>
	<string>SMContactListShowBehaviorPlugin</string>
	<string>ESiTunesPlugin</string>
	<string>AIDockBadger</string>
	<string>ESPersonalPreferencesPlugin</string>
	<string>AIXtrasManager</string>
	<string>OWSpellingPerContactPlugin</string>
	<string>GBQuestionHandlerPlugin</string>
	<string>AINulRemovalPlugin</string>
	<string>AIAdvancedPreferencesPlugin</string>
	<string>GBImportPlugin</string>
	<string>AIContactVisibilityPlugin</string>
	<string>AIMentionEventPlugin</string>
	<string>AITwitterIMPlugin</string>
</array>
</plist>
