<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default Font</key>
	<string>Helvetica,12</string>
	<key>Default Text Color</key>
	<string>0,0,0</string>
	<key>Default Background Color</key>
	<string>255,255,255</string>
	<key>Default Image Uploader</key>
	<string>pic.im</string>
	<key>Shortener Service Preference</key>
	<integer>3</integer>
</dict>
</plist>
