<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Display Message Context</key>
	<true/>
	<key>Lines to Display</key>
	<integer>5</integer>
	<key>Display Mode</key>
	<integer>0</integer>
	<key>Have Talked Days</key>
	<integer>7</integer>
	<key>Have Not Talked Days</key>
	<integer>7</integer>
	<key>Have Talked Units</key>
	<integer>0</integer>
	<key>Have Not Talked Units</key>
	<integer>0</integer>
</dict>
</plist>
