<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Status:Group Available</key>
	<true/>
	<key>Status:Group Unavailable</key>
	<true/>
	<key>Status:Group Away</key>
	<false/>
	<key>Status:Group Idle</key>
	<false/>
	<key>Status:Group Idle+Away</key>
	<false/>
	<key>Status:Sort by Idle Time</key>
	<false/>
	<key>Status:Resolve Alphabetically</key>
	<false/>
	<key>Status:Resolve Alphabetically By Last Name</key>
	<false/>
	<key>Status:Sort Order</key>
	<array>
		<integer>5</integer>
		<integer>0</integer>
		<integer>6</integer>
		<integer>4</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
	</array>
</dict>
</plist>
