<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Auto Away</key>
	<false/>
	<key>Auto Away Interval</key>
	<integer>1200</integer>
	<key>Auto Away Status State ID</key>
	<integer>-1000</integer>
	<key>Fast User Switching Auto Away</key>
	<true/>
	<key>Fast User Switching Status State ID</key>
	<integer>-1000</integer>
	<key>Report Idle</key>
	<true/>
	<key>Report Idle Interval</key>
	<integer>600</integer>
	<key>ScreenSaver Auto Away</key>
	<true/>
	<key>ScreenSaver Status State ID</key>
	<integer>-1000</integer>
	<key>Status Window Always On Top</key>
	<true/>
	<key>Status Window Hide in Background</key>
	<true/>
	<key>Unread Mentions</key>
	<true/>
</dict>
</plist>
