<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Location</key>
	<array>
		<string>/System/Library/PrivateFrameworks/InstantMessage.framework/Versions/A/Resources</string>
		<string>com.apple.iChat////Contents/Resources</string>
	</array>
	<key>Sounds</key>
	<dict>
		<key>Connected</key>
		<string>Logged In.aiff</string>
		<key>Contact Signed On</key>
		<string>Buddy Logging In.aiff</string>
		<key>Contact Signed Off</key>
		<string>Buddy Logging Out.aiff</string>
		<key>Message Received (New)</key>
		<string>Invitation.aiff</string>
		<key>Message Received</key>
		<string>Received Message.aiff</string>
		<key>Message Sent</key>
		<string>Sent Message.aiff</string>
	</dict>
</dict>
</plist>
