body,
#topic
{
	background-color: rgba(248, 240, 240, .8);
}

.status .x-wrap,
.event .x-wrap
{
	background-color: rgba(250, 244, 244, .8);
}

.incoming .x-buddyicon
{
	background: rgba(75, 93, 178, .2);
}

.incoming .x-sender,
.incoming a:hover
{
	background: rgba(75, 93, 178, 1);
}

.incoming.history .x-sender,
.incoming.history a:hover
{
	background: rgba(161, 168, 211, 1);
}

.focus.mention .x-message:before,
.mention .x-message:before,
.incoming .x-time,
.incoming a
{
	color: rgba(75, 93, 178, 1);
}

.incoming.history .x-time
{
	color: rgba(161, 168, 211, 1);
}

.incoming .x-message
{
	background: rgba(213, 211, 228, .9);
	border-top: 1px solid rgba(75, 93, 178, 1);
}

.incoming.history .x-message,
.incoming.consecutive:not(.firstFocus) .x-message
{
	border-top: 1px solid rgba(161, 168, 211, 1);
}

.outgoing .x-buddyicon
{
	background: rgba(177, 74, 75, .2);
}

.outgoing .x-sender,
.outgoing a:hover
{
	background: rgba(177, 74, 75, 1);
}

.outgoing.history .x-sender,
.outgoing.history a:hover
{
	background: rgba(212, 159, 159, 1);
}

.outgoing .x-time,
.outgoing a
{
	color: rgba(177, 74, 75, 1);
}

.outgoing.history .x-time
{
	color: rgba(212, 159, 159, 1);
}

.outgoing .x-message
{
	background: rgba(233, 207, 207, .9);
	border-top: 1px solid rgba(177, 74, 75, 1);
}

.outgoing.history .x-message,
.outgoing.consecutive:not(.firstFocus) .x-message
{
	border-top: 1px solid rgba(212, 159, 159, 1);
}
