body,
#topic,
.status .x-wrap,
.event .x-wrap
{
	background-color: rgba(248, 240, 240, .8);
}

.incoming .x-buddyicon
{
	background: rgba(75, 93, 178, .2);
}

.incoming .x-sender
{
	background: #4b5db2;
}

.incoming .x-time
{
	color: #4b5db2;
}

.incoming .x-message
{
	background: rgba(213, 211, 228, .9);
	border-top: 1px solid #4b5db2;
}

.incoming.consecutive .x-message
{
	border-top: 1px solid rgba(75, 93, 178, .4);
}

.incoming a:hover
{
	background: #4b5db2;
}

.incoming a
{
	color: #4b5db2;
}

.outgoing .x-buddyicon
{
	background: rgba(177, 74, 75, .2);
}

.outgoing .x-sender
{
	background: #b14a4b;
}

.outgoing .x-time
{
	color: #b14a4b;
}

.outgoing .x-message
{
	background: rgba(233, 207, 207, .9);
	border-top: 1px solid #b14a4b;
}

.outgoing.consecutive .x-message
{
	border-top: 1px solid rgba(177, 74, 75, .4);
}

.outgoing a
{
	color: #b14a4b;
}

.outgoing a:hover
{
	background: #b14a4b;
}
