body,
#topic
{
	background-color: rgba(238, 243, 235, .8);
}

.status .x-wrap,
.event .x-wrap
{
	background-color: rgba(241, 245, 240, .8);
}

.incoming .x-buddyicon
{
	background: rgba(178, 125, 75, .2);
}

.incoming .x-sender,
.incoming a:hover
{
	background: rgba(178, 125, 75, 1);
}

.incoming.history .x-sender,
.incoming.history a:hover
{
	background: rgba(209, 184, 156, 1);
}

.focus.mention .x-message:before,
.mention .x-message:before,
.incoming .x-time,
.incoming a
{
	color: rgba(178, 125, 75, 1);
}

.incoming.history .x-time
{
	color: rgba(209, 184, 156, 1);
}

.incoming .x-message
{
	background: rgba(226, 219, 203, .9);
	border-top: 1px solid rgba(178, 125, 75, 1);
}

.incoming.history .x-message,
.incoming.consecutive:not(.firstFocus) .x-message
{
	border-top: 1px solid rgba(209, 184, 156, 1);
}

.outgoing .x-buddyicon
{
	background: rgba(116, 157, 95, .2);
}

.outgoing .x-sender,
.outgoing a:hover
{
	background: rgba(116, 157, 95, 1);
}

.outgoing.history .x-sender,
.outgoing.history a:hover
{
	background: rgba(178, 200, 166, 1);
}

.outgoing .x-time,
.outgoing a
{
	color: rgba(116, 157, 95, 1);
}

.outgoing.history .x-time
{
	color: rgba(178, 200, 166, 1);
}

.outgoing .x-message
{
	background: rgba(213, 225, 207, .9);
	border-top: 1px solid rgba(116, 157, 95, 1);
}

.outgoing.history .x-message,
.outgoing.consecutive:not(.firstFocus) .x-message
{
	border-top: 1px solid rgba(178, 200, 166, 1);
}
