body,
#topic,
.status .x-wrap,
.event .x-wrap
{
	background-color: rgba(242, 251, 238, .8);
}

.incoming .x-buddyicon
{
	background: rgba(255, 124, 0, .2);
}

.incoming .x-sender
{
	background: #FF7C00;
}

.incoming .x-time
{
	color: #FF7C00;
}

.incoming .x-message
{
	background: rgba(244, 225, 190, .9);
	border-top: 1px solid #FF7C00;
}

.incoming.consecutive .x-message
{
	border-top: 1px solid rgba(255, 124, 0, .4);
}

.incoming a:hover
{
	background: #FF7C00;
}

.incoming a
{
	color: #FF7C00;
}

.outgoing .x-buddyicon
{
	background: rgba(102, 204, 50, .2);
}

.outgoing .x-sender
{
	background: #66CC32;
}

.outgoing .x-time
{
	color: #66CC32;
}

.outgoing .x-message
{
	background: rgba(213, 241, 200, .9);
	border-top: 1px solid #66CC32;
}

.outgoing.consecutive .x-message
{
	border-top: 1px solid rgba(102, 204, 50, .4);
}

.outgoing a
{
	color: #66CC32;
}

.outgoing a:hover
{
	background: #66CC32;
}
