body,
#topic,
.status .x-wrap,
.event .x-wrap
{
	background-color: rgba(238, 243, 235, .8);
}

.incoming .x-buddyicon
{
	background: rgba(178, 125, 75, .2);
}

.incoming .x-sender
{
	background: #b27d4b;
}

.incoming .x-time
{
	color: #b27d4b;
}

.incoming .x-message
{
	background: rgba(226, 219, 203, .9);
	border-top: 1px solid #b27d4b;
}

.incoming.consecutive .x-message
{
	border-top: 1px solid rgba(178, 125, 75, .4);
}

.incoming a:hover
{
	background: #b27d4b;
}

.incoming a
{
	color: #b27d4b;
}

.outgoing .x-buddyicon
{
	background: rgba(116, 157, 95, .2);
}

.outgoing .x-sender
{
	background: #749d5f;
}

.outgoing .x-time
{
	color: #749d5f;
}

.outgoing .x-message
{
	background: rgba(213, 225, 207, .9);
	border-top: 1px solid #749d5f;
}

.outgoing.consecutive .x-message
{
	border-top: 1px solid rgba(116, 157, 95, .4);
}

.outgoing a
{
	color: #749d5f;
}

.outgoing a:hover
{
	background: #749d5f;
}
