body,
#topic,
.status .x-wrap,
.event .x-wrap
{
	background-color: rgba(255, 244, 244, .8);
}

.incoming .x-buddyicon
{
	background: rgba(0, 45, 255, .2);
}

.incoming .x-sender
{
	background: #002CFF;
}

.incoming .x-time
{
	color: #002cff;
}

.incoming .x-message
{
	background: rgba(204, 204, 246, .9);
	border-top: 1px solid #002CFF;
}

.incoming.consecutive .x-message
{
	border-top: 1px solid rgba(0, 45, 255, .4);
}

.incoming a:hover
{
	background: #002CFF;
}

.incoming a
{
	color: #002CFF;
}

.outgoing .x-buddyicon
{
	background: rgba(255, 0, 1, .2);
}

.outgoing .x-sender
{
	background: #FF0001;
}

.outgoing .x-time
{
	color: #FF0001;
}

.outgoing .x-message
{
	background: rgba(255, 195, 195, .9);
	border-top: 1px solid #FF0001;
}

.outgoing.consecutive .x-message
{
	border-top: 1px solid rgba(255, 0, 1, .4);
}

.outgoing a
{
	color: #FF0001;
}

.outgoing a:hover
{
	background: #FF0001;
}
