.incoming .x-wrap
{
	margin-right: 37px;
}

.outgoing .x-wrap
{
	margin-left: 37px;
}

.incoming .x-buddyicon
{
	position: absolute;
	right: 10px;
}

.outgoing .x-buddyicon
{
	position: absolute;
	margin-left: -37px;
}
