#Chat
{
	padding: 5px 1em 5px 10px;
}

.message .x-wrap
{
	margin-left: 37px;
}

.message .x-buddyicon
{
	position: absolute;
	left: 10px;
}

.focus .x-message:before
{
	right: .2em;
}

.focus.status .x-wrap:before,
.focus.event .x-wrap:before
{
	right: .2em;
}

.mention .x-message:before
{
	right: .2em;
}

.mention.focus .x-message:before
{
	right: .2em;
}

