.incoming .x-wrap
{
	margin-right: 37px;
}

.outgoing .x-wrap
{
	margin-left: 37px;
}

.incoming .x-buddyicon
{
	position: absolute;
	right: 10px;
}

.outgoing .x-buddyicon
{
	position: absolute;
	left: 10px;
}

.firstFocus.message .x-text:before
{
	right: 49px;
}

.firstFocus.status .x-text:before,
.firstFocus.event .x-text:before
{
	right: 10px;
}
