.x-buddyicon
{
	display: none;
}

.x-sender
{
	padding-right: 41px;
}

.firstFocus.message .x-text:before
{
	right: 12px;
}

.firstFocus.status .x-text:before,
.firstFocus.event .x-text:before
{
	right: 10px;
}
