.incoming .buddyicon {
	float: right;
	margin: 0px 0px 5px 5px;
}

.outgoing .buddyicon {
	float: left;
	margin: 0px 5px 5px 0px;
}

.incoming .mask {
	float: right;
	margin-right: -37px;
}

.outgoing .mask {
	float: left;
	margin-left: -37px;
}
