.x-wrap
{
	margin-right: 37px;
}

.message .x-buddyicon
{
	position: absolute;
	right: 10px;
}

.firstFocus.message .x-text:before,
.firstFocus.status .x-text:before,
.firstFocus.event .x-text:before
{
	right: 49px;
}

