.message .x-wrap
{
	margin-left: 37px;
}

.message .x-buddyicon
{
	position: absolute;
	left: 10px;
}

.firstFocus.message .x-text:before
{
	right: 12px;
}

.firstFocus.status .x-text:before,
.firstFocus.event .x-text:before
{
	right: 10px;
}
