<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chat</key>
	<dict>
		<key>Date Opened</key>
		<string>2004-04-19 12:45:47 -0500</string>
		<key>Destination UID</key>
		<string>fetchgreebledonx</string>
		<key>Source UID</key>
		<string>TekJew</string>
		<key>Type</key>
		<string>IM</string>
	</dict>
	<key>Participants</key>
	<array>
		<dict>
			<key>Display Name</key>
			<string>Evan</string>
			<key>UID</key>
			<string>TekJew</string>
			<key>UserIcon Name</key>
			<string>SoulEdge.png</string>
		</dict>
		<dict>
			<key>Display Name</key>
			<string>Jeff</string>
			<key>UID</key>
			<string>fetchgreebledonx</string>
			<key>UserIcon Name</key>
			<string>terminator.png</string>
		</dict>
	</array>
	<key>Preview Messages</key>
	<array>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:45:48 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<string>&lt;HTML&gt;So a priest, a rabbi, and a chicken walk into a bar.&lt;/HTML&gt;</string>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:46:07 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<string>&lt;HTML&gt;&lt;BODY BGCOLOR="#FFFF00"&gt;&lt;FONT FACE="Comic Sans MS" SIZE="4" COLOR="#FF0000"&gt;I'm pretty sure I've heard this one before&lt;/FONT&gt;&lt;/BODY&gt;&lt;/HTML&gt;</string>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>TekJew</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:46:32 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<string>&lt;HTML&gt;&lt;BODY BGCOLOR="#FFFF00"&gt;&lt;FONT FACE="Comic Sans MS" SIZE="4" COLOR="#FF0000"&gt;So what happens next?&lt;/FONT&gt;&lt;/BODY&gt;&lt;/HTML&gt;</string>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>TekJew</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:46:50 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<string>&lt;HTML&gt;If I remember correctly, they explode outward at the speed of light.&lt;/HTML&gt;</string>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:47:00 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<string>&lt;HTML&gt;But that might be if you cross the streams...&lt;/HTML&gt;</string>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:47:06 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<string>&lt;HTML&gt;&lt;BODY BGCOLOR="#FFFF00"&gt;&lt;FONT FACE="Comic Sans MS" SIZE="4" COLOR="#FF0000"&gt;... thus negating all existence!&lt;/FONT&gt;&lt;/BODY&gt;&lt;/HTML&gt;</string>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>TekJew</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:47:51 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<string>&lt;HTML&gt;Precisely! it's a risk one takes whenever one walks into a bar, I'm afraid, especially if one is a chicken.&lt;/HTML&gt;</string>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Date</key>
			<string>2004-04-19 12:47:54 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<string>Jeff went away</string>
			<key>Status Message Type</key>
			<string>away</string>
			<key>Type</key>
			<string>Status</string>
		</dict>
		<dict>
			<key>Date</key>
			<string>2004-04-19 12:47:55 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<string>Away Message: "Away for the sake of being away."</string>
			<key>Status Message Type</key>
			<string>away_message</string>
			<key>Type</key>
			<string>Status</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<true/>
			<key>Date</key>
			<string>2004-04-19 12:47:51 -0500</string>
			<key>From</key>
			<string>fetchgreebledonx</string>
			<key>Message</key>
			<string>&lt;HTML&gt;&lt;BODY BGCOLOR="#FFFF00"&gt;&lt;FONT FACE="Comic Sans MS" SIZE="4" COLOR="#FF0000"&gt;Away for the sake of being away.&lt;/FONT&gt;&lt;/BODY&gt;&lt;/HTML&gt;</string>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>TekJew</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2004-04-19 12:48:02 -0500</string>
			<key>From</key>
			<string>TekJew</string>
			<key>Message</key>
			<string>&lt;HTML&gt;Gotta run; catch ya later ;)&lt;/HTML&gt;</string>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>fetchgreebledonx</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
	</array>
</dict>
</plist>
