<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Message Style</key>
	<string>im.adium.Smooth Operator.style</string>
	<key>Show User Icons</key>
	<true/>
	<key>DefaultFontFamily</key>
	<string>Lucida Grande</string>
	<key>DefaultFontSize</key>
	<integer>11</integer>
	<key>Min Font Size</key>
	<integer>9</integer>
	<key>Name Format</key>
	<integer>0</integer>
	<key>Combine Consecutive Messages</key>
	<true/>
	<key>Use Custom Name Format</key>
	<false/>
	<key>Allow Background Coloring</key>
	<true/>
	<key>Use Regular Chat Preferences</key>
	<true/>
</dict>
</plist>
