<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AB Create MetaContacts</key>
	<true/>
	<key>AB Display Format String</key>
	<string>%[FIRSTFULL] %[LASTFULL]</string>
	<key>AB Enable Import</key>
	<true/>
	<key>AB Image Sync</key>
	<false/>
	<key>AB Note Sync</key>
	<false/>
	<key>AB Prefer AB Images</key>
	<false/>
	<key>AB Use AB Images</key>
	<true/>
	<key>AB Use FirstName</key>
	<true/>
	<key>AB Use NickName Only</key>
	<false/>
</dict>
</plist>
