@import url('../main.css');

body {
	background: url(../images/backgroundUndersea.jpg) repeat-y center top #000 fixed;
}

.message1 .userName, .message1 .date {
	color: #00a1ff;
}

.message2 .userName, .message2 .date {
	color: #7fadcd;
}

.content {
	border-top: 3px solid #00a1ff;
	border-bottom: 1px solid #00a1ff;
}

.message2 .content {
	border-top: 3px solid #7fadcd;
	border-bottom: 1px solid #7fadcd;
}


#headerChatStarted h2 {
	color: #00a1ff;
}

#headerImage {
	background: url(../images/backgroundUserImageUndersea.png) no-repeat;
}

.message1 a {
	color: #2fb5ff;
}

.message1 a:hover {
	color: #66e7ff;
}

.message2 a {
	color: #a3d5f7;
}

.message2 a:hover {
	color: #cfecff;
}


