<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Service Class</key>
	<string>Yahoo!</string>
	<key>Emoticons</key>
	<dict>
		<key>1.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:)</string>
				<string>:-)</string>
			</array>
			<key>Name</key>
			<string>Happy</string>
		</dict>
		<key>2.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:(</string>
				<string>:-(</string>
			</array>
			<key>Name</key>
			<string>Sad</string>
		</dict>
		<key>3.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;)</string>
				<string>;-)</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
		<key>4.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:D</string>
				<string>:-D</string>
			</array>
			<key>Name</key>
			<string>Big Grin</string>
		</dict>
		<key>5.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;;)</string>
			</array>
			<key>Name</key>
			<string>Batting Eyelashes</string>
		</dict>
		<key>6.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:D&lt;</string>
			</array>
			<key>Name</key>
			<string>Big Hug</string>
		</dict>
		<key>7.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-/</string>
				<string>:/</string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>8.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:x</string>
				<string>:X</string>
			</array>
			<key>Name</key>
			<string>Love Struck</string>
		</dict>
		<key>9.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:"&gt;</string>
			</array>
			<key>Name</key>
			<string>Blushing</string>
		</dict>
		<key>10.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:p</string>
				<string>:P</string>
				<string>:-p</string>
				<string>:-P</string>
			</array>
			<key>Name</key>
			<string>Tongue</string>
		</dict>
		<key>11.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:*</string>
				<string>:-*</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>12.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=((</string>
			</array>
			<key>Name</key>
			<string>Broken Heart</string>
		</dict>
		<key>13.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:O</string>
				<string>:-O</string>
			</array>
			<key>Name</key>
			<string>Surprise</string>
		</dict>
		<key>14.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>X(</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>15.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:&gt;</string>
				<string>:-&gt;</string>
			</array>
			<key>Name</key>
			<string>Smug</string>
		</dict>
		<key>16.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>B-)</string>
				<string>8-)</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>17.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-s</string>
				<string>:-S</string>
			</array>
			<key>Name</key>
			<string>Worried</string>
		</dict>
		<key>18.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>#:-s</string>
				<string>#:-S</string>
			</array>
			<key>Name</key>
			<string>Whew!</string>
		</dict>
		<key>19.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:)</string>
				<string>&gt;:-)</string>
			</array>
			<key>Name</key>
			<string>Devil</string>
		</dict>
		<key>20.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:((</string>
				<string>:-((</string>
				<string>:'(</string>
				<string>:'-(</string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>21.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:))</string>
				<string>:-))</string>
			</array>
			<key>Name</key>
			<string>Laughing</string>
		</dict>
		<key>22.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:|</string>
				<string>:-|</string>
			</array>
			<key>Name</key>
			<string>Straight Face</string>
		</dict>
		<key>23.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/:)</string>
				<string>/:-)</string>
			</array>
			<key>Name</key>
			<string>Raised Eyebrow</string>
		</dict>
		<key>24.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=))</string>
			</array>
			<key>Name</key>
			<string>Rolling on the Floor</string>
		</dict>
		<key>25.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:)</string>
				<string>O:-)</string>
			</array>
			<key>Name</key>
			<string>Angel</string>
		</dict>
		<key>26.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-B</string>
			</array>
			<key>Name</key>
			<string>Nerd</string>
		</dict>
		<key>27.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=;</string>
			</array>
			<key>Name</key>
			<string>Talk to The Hand</string>
		</dict>
		<key>28.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>I-|</string>
			</array>
			<key>Name</key>
			<string>Sleepy</string>
		</dict>
		<key>29.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-|</string>
			</array>
			<key>Name</key>
			<string>Rolling Eyes</string>
		</dict>
		<key>30.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>L-)</string>
			</array>
			<key>Name</key>
			<string>Loser</string>
		</dict>
		<key>31.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-&amp;</string>
			</array>
			<key>Name</key>
			<string>Sick</string>
		</dict>
		<key>32.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
			</array>
			<key>Name</key>
			<string>Don't tell anyone</string>
		</dict>
		<key>33.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>[-(</string>
			</array>
			<key>Name</key>
			<string>Not Talking</string>
		</dict>
		<key>34.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:o)</string>
				<string>:O)</string>
			</array>
			<key>Name</key>
			<string>Clown</string>
		</dict>
		<key>35.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-}</string>
			</array>
			<key>Name</key>
			<string>Silly</string>
		</dict>
		<key>36.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&lt;:-P</string>
				<string>&lt;:-p</string>
			</array>
			<key>Name</key>
			<string>Party</string>
		</dict>
		<key>37.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(:|</string>
			</array>
			<key>Name</key>
			<string>Yawn</string>
		</dict>
		<key>38.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=P~</string>
			</array>
			<key>Name</key>
			<string>Drooling</string>
		</dict>
		<key>39.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-?</string>
			</array>
			<key>Name</key>
			<string>Thinking</string>
		</dict>
		<key>40.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>#-o</string>
				<string>#-O</string>
			</array>
			<key>Name</key>
			<string>D'oh</string>
		</dict>
		<key>41.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=D&gt;</string>
			</array>
			<key>Name</key>
			<string>Applause</string>
		</dict>
		<key>42.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-SS</string>
				<string>:-ss</string>
			</array>
			<key>Name</key>
			<string>Nailbiting</string>
		</dict>
		<key>43.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>@-)</string>
			</array>
			<key>Name</key>
			<string>Hypnotized</string>
		</dict>
		<key>44.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:^o</string>
			</array>
			<key>Name</key>
			<string>Liar</string>
		</dict>
		<key>45.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-w</string>
				<string>:-W</string>
			</array>
			<key>Name</key>
			<string>Waiting</string>
		</dict>
		<key>46.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-&lt;</string>
			</array>
			<key>Name</key>
			<string>Sigh</string>
		</dict>
		<key>47.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:P</string>
				<string>&gt;:p</string>
			</array>
			<key>Name</key>
			<string>Phbbbbt</string>
		</dict>
		<key>48.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&lt;):)</string>
			</array>
			<key>Name</key>
			<string>Cowboy</string>
		</dict>
		<key>49.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:@)</string>
			</array>
			<key>Name</key>
			<string>Pig</string>
		</dict>
		<key>50.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>3:-O</string>
				<string>3:-o</string>
			</array>
			<key>Name</key>
			<string>Cow</string>
		</dict>
		<key>51.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:(|)</string>
			</array>
			<key>Name</key>
			<string>Monkey</string>
		</dict>
		<key>52.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>~:&gt;</string>
			</array>
			<key>Name</key>
			<string>Chicken</string>
		</dict>
		<key>53.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>@};-</string>
			</array>
			<key>Name</key>
			<string>Rose</string>
		</dict>
		<key>54.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>%%-</string>
			</array>
			<key>Name</key>
			<string>Good Luck</string>
		</dict>
		<key>55.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>**==</string>
			</array>
			<key>Name</key>
			<string>Flag</string>
		</dict>
		<key>56.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(~~)</string>
			</array>
			<key>Name</key>
			<string>Pumpkin</string>
		</dict>
		<key>57.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>~o)</string>
			</array>
			<key>Name</key>
			<string>Coffee</string>
		</dict>
		<key>58.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*-:)</string>
			</array>
			<key>Name</key>
			<string>Idea</string>
		</dict>
		<key>59.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-X</string>
			</array>
			<key>Name</key>
			<string>Skull</string>
		</dict>
		<key>60.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=:)</string>
			</array>
			<key>Name</key>
			<string>Bug</string>
		</dict>
		<key>61.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;-)</string>
			</array>
			<key>Name</key>
			<string>Alien</string>
		</dict>
		<key>62.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-L</string>
				<string>:L</string>
			</array>
			<key>Name</key>
			<string>Frustrated</string>
		</dict>
		<key>63.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>[-o&lt;</string>
			</array>
			<key>Name</key>
			<string>Praying</string>
		</dict>
		<key>64.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>$-)</string>
			</array>
			<key>Name</key>
			<string>Money Eyes</string>
		</dict>
		<key>65.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-"</string>
			</array>
			<key>Name</key>
			<string>Whistling</string>
		</dict>
		<key>66.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>b-(</string>
			</array>
			<key>Name</key>
			<string>Feeling Beat Up</string>
		</dict>
		<key>67.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:)&gt;-</string>
			</array>
			<key>Name</key>
			<string>Peace Sign</string>
		</dict>
		<key>68.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>[-X</string>
			</array>
			<key>Name</key>
			<string>Shame on You</string>
		</dict>
		<key>69.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>\:D/</string>
			</array>
			<key>Name</key>
			<string>Dancing</string>
		</dict>
		<key>70.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:/</string>
			</array>
			<key>Name</key>
			<string>Bring it on</string>
		</dict>
		<key>71.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;))</string>
			</array>
			<key>Name</key>
			<string>Hee hee</string>
		</dict>
		<key>76.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-@</string>
			</array>
			<key>Name</key>
			<string>Chatterbox</string>
		</dict>
		<key>77.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>^:)^</string>
			</array>
			<key>Name</key>
			<string>Not Worthy</string>
		</dict>
		<key>78.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-j</string>
			</array>
			<key>Name</key>
			<string>Oh go on</string>
		</dict>
		<key>79.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(*)</string>
			</array>
			<key>Name</key>
			<string>Star</string>
		</dict>
	</dict>
</dict>
</plist>
