<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Interface-Large</key>
	<dict>
		<key>AIM</key>
		<string>aim.png</string>
		<key>Bonjour</key>
		<string>bonjour.png</string>
		<key>Facebook</key>
		<string>facebook.png</string>
		<key>Gadu-Gadu</key>
		<string>gadu-gadu.png</string>
		<key>GroupWise</key>
		<string>groupwise.png</string>
		<key>GTalk</key>
		<string>gtalk.png</string>
		<key>ICQ</key>
		<string>icq.png</string>
		<key>Jabber</key>
		<string>jabber.png</string>
		<key>LiveJournal</key>
		<string>livejournal.png</string>
		<key>Mac</key>
		<string>dotmac.png</string>
		<key>MSN</key>
		<string>msn.png</string>
		<key>Sametime</key>
		<string>sametime.png</string>
		<key>SIMPLE</key>
		<string>simple.png</string>
		<key>Stress Test</key>
		<string>zephyr.png</string>
		<key>Yahoo!</key>
		<string>yahoo.png</string>
		<key>Yahoo! Japan</key>
		<string>yahoo.png</string>
		<key>Zephyr</key>
		<string>zephyr.png</string>
	</dict>
	<key>Interface-Small</key>
	<dict>
		<key>AIM</key>
		<string>aim-small.png</string>
		<key>Bonjour</key>
		<string>bonjour-small.png</string>
		<key>Facebook</key>
		<string>facebook-small.png</string>
		<key>Gadu-Gadu</key>
		<string>gadu-gadu-small.png</string>
		<key>GroupWise</key>
		<string>groupwise-small.png</string>
		<key>GTalk</key>
		<string>gtalk-small.png</string>
		<key>ICQ</key>
		<string>icq-small.png</string>
		<key>Jabber</key>
		<string>jabber-small.png</string>
		<key>LiveJournal</key>
		<string>livejournal-small.png</string>
		<key>Mac</key>
		<string>dotmac-small.png</string>
		<key>MSN</key>
		<string>msn-small.png</string>
		<key>Sametime</key>
		<string>sametime-small.png</string>
		<key>SIMPLE</key>
		<string>simple-small.png</string>
		<key>Stress Test</key>
		<string>zephyr-small.png</string>
		<key>Yahoo!</key>
		<string>yahoo-small.png</string>
		<key>Yahoo! Japan</key>
		<string>yahoo-small.png</string>
		<key>Zephyr</key>
		<string>zephyr-small.png</string>
	</dict>
	<key>List</key>
	<dict>
		<key>AIM</key>
		<string>aim-small.png</string>
		<key>Bonjour</key>
		<string>bonjour-small.png</string>
		<key>Facebook</key>
		<string>facebook-small.png</string>
		<key>Gadu-Gadu</key>
		<string>gadu-gadu-small.png</string>
		<key>GroupWise</key>
		<string>groupwise-small.png</string>
		<key>GTalk</key>
		<string>gtalk-small.png</string>
		<key>ICQ</key>
		<string>icq-small.png</string>
		<key>Jabber</key>
		<string>jabber-small.png</string>
		<key>LiveJournal</key>
		<string>livejournal-small.png</string>
		<key>Mac</key>
		<string>dotmac-small.png</string>
		<key>MSN</key>
		<string>msn-small.png</string>
		<key>QQ</key>
		<string>qq-small.png</string>
		<key>Sametime</key>
		<string>sametime-small.png</string>
		<key>SIMPLE</key>
		<string>simple-small.png</string>
		<key>Stress Test</key>
		<string>yahoo-small.png</string>
		<key>Yahoo!</key>
		<string>yahoo-small.png</string>
		<key>Yahoo! Japan</key>
		<string>yahoo-small.png</string>
		<key>Zephyr</key>
		<string>zephyr-small.png</string>
	</dict>
</dict>
</plist>
