.x-outgoingItem .x-avatar
{
	float: right;
}

.x-outgoingItem .x-indicator
{
	float: right;
	position: relative;
	left: 11px;
	top: 8px;
}

.x-myBubble
{
	margin-right: 40px;
}

.mention
{
	margin-right: 30px;
}

.mention .x-myBubble
{
	margin-right: 10px;
}
