<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Info</key>
	<string>Created by America Online.

The original AIM sounds.

http://www.aol.com
</string>
	<key>Sounds</key>
	<dict>
		<key>Connected</key>
		<string>Welcome.aif</string>
		<key>Contact Signed Off</key>
		<string>Buddy Off.aif</string>
		<key>Contact Signed On</key>
		<string>Buddy On.aif</string>
		<key>Message Received</key>
		<string>Receive IM.aif</string>
		<key>Message Received (New)</key>
		<string>Receive 1st IM.aif</string>
		<key>Message Received (Stranger)</key>
		<string>Knock-Knock.aif</string>
		<key>Message Sent</key>
		<string>Send IM.aif</string>
	</dict>
</dict>
</plist>
