<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>List</key>
	<dict>
		<key>Busy</key>
		<string>busy.png</string>
		<key>DND</key>
		<string>away.png</string>
		<key>Free for Chat</key>
		<string>available.png</string>
		<key>Generic Available</key>
		<string>available.png</string>
		<key>Generic Away</key>
		<string>away.png</string>
		<key>Idle</key>
		<string>idle.png</string>
		<key>Invisible</key>
		<string>invisible.png</string>
		<key>Mobile</key>
		<string>mobile.png</string>
		<key>Not Available</key>
		<string>away.png</string>
		<key>Occupied</key>
		<string>away.png</string>
		<key>Offline</key>
		<string>offline.png</string>
		<key>Unknown</key>
		<string>unknown.png</string>
		<key>content</key>
		<string>content.png</string>
		<key>enteredtext</key>
		<string>enteredtext.png</string>
		<key>typing</key>
		<string>typing.png</string>
	</dict>
	<key>Tabs</key>
	<dict>
		<key>Busy</key>
		<string>tbusy.png</string>
		<key>DND</key>
		<string>taway.png</string>
		<key>Free for Chat</key>
		<string>tavailable.png</string>
		<key>Generic Available</key>
		<string>tavailable.png</string>
		<key>Generic Away</key>
		<string>taway.png</string>
		<key>Idle</key>
		<string>tidle.png</string>
		<key>Invisible</key>
		<string>tinvisible.png</string>
		<key>Mobile</key>
		<string>tmobile.png</string>
		<key>Not Available</key>
		<string>taway.png</string>
		<key>Occupied</key>
		<string>taway.png</string>
		<key>Offline</key>
		<string>toffline.png</string>
		<key>Unknown</key>
		<string>tunknown.png</string>
		<key>content</key>
		<string>tcontent.png</string>
		<key>enteredtext</key>
		<string>tenteredtext.png</string>
		<key>typing</key>
		<string>ttyping.png</string>
	</dict>
</dict>
</plist>
