<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>GenericFolderIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>AFSIDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumLog</string>
				<string>chatlog</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Adium X chat log</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AILo</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.xmllog</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>AFSIDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AdiumHTMLLog</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Adium X HTML chat log</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AILh</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adiumx.htmllog</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>AFSIDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>im.adium.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>AFSI</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>AFSIMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.directory</string>
			<key>UTTypeDescription</key>
			<string>folder</string>
			<key>UTTypeIconFile</key>
			<string>GenericFolderIcon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.folder</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>fold</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.apple.bundle</string>
				<string>public.content</string>
				<string>public.text</string>
				<string>public.message</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium X chat log</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.xmllog</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.adiumx.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AILo</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumLog</string>
					<string>chatlog</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.html</string>
				<string>public.text</string>
				<string>public.content</string>
				<string>public.message</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adium X HTML chat log</string>
			<key>UTTypeIdentifier</key>
			<string>com.adiumx.htmllog</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.adiumx.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AILh</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumHTMLLog</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
