@import url("./Main.css");

#x-header,
#topic #topicEdit
{
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(72, 72, 72, 1)), color-stop(.45, rgba(40, 40, 40, 1)), color-stop(.5, rgba(0, 0, 0, .9)), to(rgba(24, 24, 24, 1)));
	border-bottom: 1px solid rgba(64, 64, 64, .9);
	color: white;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
}

#x-headerChatStarted
{
	color: #ccc;
}

.x-userName
{
	text-shadow: 0px -1px 5px #000;
}

.x-service
{
	color: hsla(0, 0%, 100%, .4);
	text-shadow: 0px 1px 2px #000;
}

.x-content
{
	color: #fff;
	background: rgba(24, 24, 24, .7);
}

.x-gloss
{
	background: url("../images/glossRegular.png") no-repeat center 4px;
}

.x-divider
{
	border-top: 2px groove rgba(92, 92, 92, .7);
}

.x-date
{
	text-shadow: #000 1px 1px 0px;
}

.x-status
{
	color: hsla(0, 0%, 100%, .7);
}

.x-status a,
#x-header a
{
	color: rgb(168, 168, 168);
}

.focus
{
	background-color: hsla(0, 0%, 45%, .9);
}

.focus .x-service
{
	color: hsla(0, 0%, 100%, .7);
}

.focus.x-status
{
	text-shadow: #000 1px 1px 2px;
	color: hsla(0, 0%, 100%, .9);
}

.x-content
{
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, .5);
}
