#include "FriBidi.xcconfig"

COPY_PHASE_STRIP = NO
DYLIB_CURRENT_VERSION = 1
GCC_OPTIMIZATION_LEVEL = 0
FRAMEWORK_VERSION = A
WRAPPER_EXTENSION = framework
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = FriBidi_Prefix.pch
INFOPLIST_FILE = Info.plist
LD_DYLIB_INSTALL_NAME = @rpath/FriBidi.framework/Versions/A/FriBidi
GCC_DYNAMIC_NO_PIC = NO
DYLIB_COMPATIBILITY_VERSION = 1
PRODUCT_NAME = FriBidi
