#include "FriBidi.xcconfig"

DYLIB_COMPATIBILITY_VERSION = 1
FRAMEWORK_VERSION = A
DYLIB_CURRENT_VERSION = 1
GCC_PREFIX_HEADER = FriBidi_Prefix.pch
INFOPLIST_FILE = Info.plist
GCC_PRECOMPILE_PREFIX_HEADER = YES
LD_DYLIB_INSTALL_NAME = @rpath/FriBidi.framework/Versions/A/FriBidi
PRODUCT_NAME = FriBidi
WRAPPER_EXTENSION = framework
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
