@import url("../Styles/Regular.css");

body
{
	background: url("../images/backgroundCosmic.jpg") repeat-y center top #000 fixed;
}

#x-headerImage
{
	background: rgba(255, 87, 171, 1);
}

#x-headerChatStarted .x-chatname,
.x-message1 .x-userName,
.x-message1 .x-date,
.x-message1 a
{
	color: rgba(255, 87, 171, 1);
}

.x-message1 a:hover
{
	color: rgba(255, 117, 209, 1);
}

.x-content
{
	border-top: 3px solid rgba(255, 87, 171, 1);
	border-bottom: 1px solid rgba(255, 87, 171, 1);
}

.mention .x-content
{
	background:
		-webkit-gradient(linear, left top, right top, from(rgba(255, 87, 171, 1)), to(rgba(32, 32, 32, 1))) no-repeat left top,
		-webkit-gradient(linear, left top, right top, from(rgba(32, 32, 32, 1)), to(rgba(255, 87, 171, 1))) no-repeat right top,
		-webkit-gradient(linear, left top, right top, from(rgba(32, 32, 32, 1)), to(rgba(32, 32, 32, 1))) left top;
}

.mention .x-divider
{
	border-top: 2px groove rgba(255, 87, 171, .3);
}

.x-message2 .x-userName,
.x-message2 .x-date,
.x-message2 a
{
	color: rgba(204, 204, 204, 1);
}

.x-message2 a:hover
{
	color: rgba(234, 234, 234, 1);
}

.x-message2 .x-content
{
	border-top: 3px solid rgba(204, 204, 204, 1);
	border-bottom: 1px solid rgba(204, 204, 204, 1);
}
