@import url("../Styles/Polarized.css");

body
{
	background: url("../images/backgroundGlacier.jpg") repeat-y center top #fff fixed;
}

#x-headerImage
{
	background: rgba(104, 187, 14, 1);
}

#x-headerChatStarted .x-chatname,
.x-message1 .x-userName,
.x-message1 .x-date,
.x-message1 a
{
	color: rgba(104, 187, 14, 1);
}

.x-message1 a:hover
{
	color: rgba(74, 157, 0, 1);
}

.x-content
{
	border-top: 3px solid rgba(104, 187, 14, 1);
	border-bottom: 1px solid rgba(104, 187, 14, 1);
}

.x-message2 .x-userName,
.x-message2 .x-date,
.x-message2 a
{
	color: rgba(30, 144, 197, 1);
}

.x-message2 a:hover
{
	color: rgba(0, 114, 167, 1);
}

.x-message2 .x-content
{
	border-top: 3px solid rgba(30, 144, 197, 1);
	border-bottom: 1px solid rgba(30, 144, 197, 1);
}

.mention .x-content
{
	background:
		-webkit-gradient(linear, left top, right top, from(rgba(104, 187, 14, .4)), to(rgba(255, 255, 255, .4))) no-repeat,
		-webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .4)), to(rgba(104, 187, 14, .4))) no-repeat right top,
		-webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 1))) left top;
}
