<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>CFBundleGetInfoString</key>
	<string>1.5</string>
	<key>XtraBundleVersion</key>
	<string>1</string>
	<key>OriginalAuthor</key>
	<string>mathuaerknedam</string>
	<key>CFBundleIdentifier</key>
	<string>im.adium.yMous.style</string>
	<key>CFBundleName</key>
	<string>yMous</string>
	<key>MessageViewVersion</key>
	<integer>4</integer>
	<key>AllowTextColors</key>
	<true/>
	<key>DisableCustomBackground</key>
	<true/>
	<key>DefaultFontFamily</key>
	<string>Lucida Grande</string>
	<key>DefaultFontSize</key>
	<integer>10</integer>
	<key>DefaultVariant</key>
	<string>Mercurial BlueGreen Both</string>
</dict>
</plist>
