<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>General</key>
	<array>
		<dict>
			<key>index</key>
			<string>beta, sparkle, update</string>
			<key>title</key>
			<string>Updating</string>
		</dict>
		<dict>
			<key>index</key>
			<string>lines, history, messages</string>
			<key>title</key>
			<string>Message Context</string>
		</dict>
	</array>
	<key>Status</key>
	<array>
		<dict>
			<key>index</key>
			<string>away, time, auto</string>
			<key>title</key>
			<string>Auto-away Time</string>
		</dict>
		<dict>
			<key>index</key>
			<string>statuses, available, away, busy</string>
			<key>title</key>
			<string>Defined Statuses</string>
		</dict>
	</array>
	<key>Appearance</key>
	<array>
		<dict>
			<key>index</key>
			<string>contact list, borderless</string>
			<key>title</key>
			<string>Contact List</string>
		</dict>
		<dict>
			<key>index</key>
			<string>dock</string>
			<key>title</key>
			<string>Dock</string>
		</dict>
	</array>
</dict>
</plist>
