<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>General</key>
	<array>
		<dict>
			<key>index</key>
			<string>global, shortcut</string>
			<key>title</key>
			<string>Global shortcut</string>
		</dict>
		<dict>
			<key>index</key>
			<string>default, im, links</string>
			<key>title</key>
			<string>IM links</string>
		</dict>
		<dict>
			<key>index</key>
			<string>confirmations, quit, file, transfer, unread, window, messages</string>
			<key>title</key>
			<string>Confirmations</string>
		</dict>
		<dict>
			<key>index</key>
			<string>beta, sparkle, update, automatic, updating</string>
			<key>title</key>
			<string>Updating</string>
		</dict>
	</array>
	<key>Status</key>
	<array>
		<dict>
			<key>index</key>
			<string>iTunes, format</string>
			<key>title</key>
			<string>iTunes status</string>
		</dict>
		<dict>
			<key>index</key>
			<string>fast, switching, screen, saver</string>
			<key>title</key>
			<string>Set auto-away</string>
		</dict>
		<dict>
			<key>index</key>
			<string>away, time, auto, idle, inactivity, inactive</string>
			<key>title</key>
			<string>Auto-away</string>
		</dict>
		<dict>
			<key>index</key>
			<string>statuses, available, away, busy, custom</string>
			<key>title</key>
			<string>Saved Statuses</string>
		</dict>
	</array>
	<key>Icons</key>
	<array>
		<dict>
			<key>index</key>
			<string>dock, emoticons, menu, bar, service, status</string>
			<key>title</key>
			<string></string>
		</dict>
	</array>
	<key>Accounts</key>
	<array>
		<dict>
			<key>index</key>
			<string>accounts, add, edit, service</string>
			<key>title</key>
			<string>Edit accounts</string>
		</dict>
	</array>
	<key>Messages</key>
	<array>
		<dict>
			<key>index</key>
			<string>switch, reopen, typing, psychic</string>
			<key>title</key>
			<string>Chats</string>
		</dict>
		<dict>
			<key>index</key>
			<string>logging, messages, secure, OTR, chats</string>
			<key>title</key>
			<string>Message logging</string>
		</dict>
		<dict>
			<key>index</key>
			<string>tabs, chats, organize, group, position</string>
			<key>title</key>
			<string>Tab bar</string>
		</dict>
	</array>
	<key>Message Style</key>
	<array>
		<dict>
			<key>index</key>
			<string>regular, group, style, variant, format, icons, time, background, colors, fonts, text</string>
			<key>title</key>
			<string>Message style</string>
		</dict>
	</array>
	<key>Profile</key>
	<array>
		<dict>
			<key>index</key>
			<string>name, personal, icon, image, picture</string>
			<key>title</key>
			<string>Profile</string>
		</dict>
	</array>
	<key>Contact List</key>
	<array>
		<dict>
			<key>index</key>
			<string>tooltips, contact, information, background</string>
			<key>title</key>
			<string>Tooltips</string>
		</dict>
		<dict>
			<key>index</key>
			<string>flash, animate, shadow</string>
			<key>title</key>
			<string>Contact list behavior</string>
		</dict>
		<dict>
			<key>index</key>
			<string>theme, list, layout, style, appearance, opacity</string>
			<key>title</key>
			<string>Contact list appearance</string>
		</dict>
		<dict>
			<key>index</key>
			<string>horizontal, vertical, size, sizing, width, height</string>
			<key>title</key>
			<string>Contact list size</string>
		</dict>
	</array>
	<key>Events</key>
	<array>
		<dict>
			<key>index</key>
			<string>alert, sound, growl, dock</string>
			<key>title</key>
			<string>Events</string>
		</dict>
	</array>
	<key>Mention</key>
	<array>
		<dict>
			<key>index</key>
			<string>highlight, mentions, name</string>
			<key>title</key>
			<string>Mentions</string>
		</dict>
	</array>
	<key>Message Alerts</key>
	<array>
		<dict>
			<key>index</key>
			<string>flash, bounce, animate, dock, menu</string>
			<key>title</key>
			<string>Actions</string>
		</dict>
		<dict>
			<key>index</key>
			<string>menu, badge, status</string>
			<key>title</key>
			<string>Status</string>
		</dict>
		<dict>
			<key>index</key>
			<string>tab, counts, conversation, highlight, mentions, group, unread, badge, messages</string>
			<key>title</key>
			<string>Counts</string>
		</dict>
	</array>
	<key>Address Book</key>
	<array>
		<dict>
			<key>index</key>
			<string>address, book, contacts, images, icons, names</string>
			<key>title</key>
			<string></string>
		</dict>
	</array>
	<key>OTR Encryption</key>
	<array>
		<dict>
			<key>index</key>
			<string>OTR, secure, fingerprints, private, keys</string>
			<key>title</key>
			<string></string>
		</dict>
	</array>
	<key>File Transfer</key>
	<array>
		<dict>
			<key>index</key>
			<string>save, safe, transfer, send, receive, files, accept, location</string>
			<key>title</key>
			<string></string>
		</dict>
	</array>
	<key>Window Handling</key>
	<array>
		<dict>
			<key>index</key>
			<string>automatically, hide, screen, edges, background</string>
			<key>title</key>
			<string>Contact list</string>
		</dict>
		<dict>
			<key>index</key>
			<string>away, status</string>
			<key>title</key>
			<string>Away status window</string>
		</dict>
	</array>
</dict>
</plist>
