<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Adiumy</string>
	<key>Icons</key>
	<dict>
		<key>Offline</key>
		<string>offline.png</string>
		<key>Online</key>
		<string>online.png</string>
	</dict>
	<key>XtraBundleVersion</key>
	<string>1</string>
</dict>
</plist>
