@import url('../main.css');

body {
	background: url(../images/backgroundCosmic.jpg) repeat-y center top #000 fixed;
}

.message1 .userName, .message1 .date {
	color: #ff57ab;
}

.message2 .userName, .message2 .date {
	color: #ccc;
}

.content {
	border-top: 3px solid #ff57ab;
	border-bottom: 1px solid #ff57ab;
}

.message2 .content {
	border-top: 3px solid #ccc;
	border-bottom: 1px solid #ccc;
}


#headerChatStarted h2 {
	color: #ff57ab;
}

#headerImage {
	background: url(../images/backgroundUserImageCosmic.png) no-repeat;
}

.message1 a {
	color: #ff1387;
}

.message1 a:hover {
	color: #ff67d3;
}

.message2 a {
	color: #d5d5d5;
}

.message2 a:hover {
	color: #f0f0f0;
}


