@import url('../main.css');

body {
	background: url(../images/backgroundCrimson.jpg) repeat-y center top #000 fixed;
}

.message1 .userName, .message1 .date, #headerChatStarted h2 {
	color: #e1000b;
}

.message2 .userName, .message2 .date {
	color: #b50000;
}

.content {
	border-top: 3px solid #e1000b;
	border-bottom: 1px solid #e1000b;
}

.message2 .content {
	border-top: 3px solid #b50000;
	border-bottom: 1px solid #b50000;
}

#headerImage {
	background: url(../images/backgroundUserImageCrimson.png) no-repeat;
}

.message1 a {
	color: #d3000a;
}

.message1 a:hover {
	color: #f4222c;
}

.message2 a {
	color: #d0000a;
}

.message2 a:hover {
	color: #f0151f;
}



