@import url('../main.css');

body {
	background: url(../images/backgroundDelaware.jpg) repeat-y center top #000 fixed;
}

.message1 .userName, .message1 .date {
	color: #b24573;
}

.message2 .userName, .message2 .date {
	color: #d2c599;
}

.content {
	border-top: 3px solid #b24573;
	border-bottom: 1px solid #b24573;
}

.message2 .content {
	border-top: 3px solid #d2c599;
	border-bottom: 1px solid #d2c599;
}


#headerChatStarted h2 {
	color: #b24573;
}

#headerImage {
	background: url(../images/backgroundUserImageDelaware.png) no-repeat;
}

.message1 a {
	color: #e24d8a;
}

.message1 a:hover {
	color: #f27dac;
}

.message2 a {
	color: #ffedb3;
}

.message2 a:hover {
	color: #fff0c0;
}

