@import url('../main.css');

body {
	background: url(../images/backgroundLava.jpg) repeat-y center top #000 fixed;
}

.message1 .userName, .message1 .date {
	color: #edb200;
}

.message2 .userName, .message2 .date {
	color: #da2c0b;
}

.content {
	border-top: 3px solid #edb200;
	border-bottom: 1px solid #edb200;
}

.message2 .content {
	border-top: 3px solid #da2c0b;
	border-bottom: 1px solid #da2c0b;
}


#headerChatStarted h2 {
	color: #edb200;
}

#headerImage {
	background: url(../images/backgroundUserImageLava.png) no-repeat;
}

.message1 a {
	color: #ffc10f;
}

.message1 a:hover {
	color: #ffd665;
}

.message2 a {
	color: #ff3f1e;
}

.message2 a:hover {
	color: #ff5b31;
}



