@import url('../main.css');

body {
	background: url(../images/backgroundMutation.jpg) repeat-y center top #000 fixed;
}

.message1 .userName, .message1 .date {
	color: #b4df00;
}

.message2 .userName, .message2 .date {
	color: #e79d10;
}

.content {
	border-top: 3px solid #b4df00;
	border-bottom: 1px solid #b4df00;
}

.message2 .content {
	border-top: 3px solid #e79d10;
	border-bottom: 1px solid #e79d10;
}


#headerChatStarted h2 {
	color: #b4df00;
}

#headerImage {
	background: url(../images/backgroundUserImageMutation.png) no-repeat;
}

.message1 a {
	color: #d9ff35;
}

.message1 a:hover {
	color: #eaff87;
}

.message2 a {
	color: #ffb022;
}

.message2 a:hover {
	color: #ffc863;
}


