@import url('../main.css');

body {
	background: url(../images/backgroundSteel.jpg) repeat-y center top #000 fixed;
}

.message1 .userName, .message1 .date, #headerChatStarted h2 {
	color: #568aa8;
}

.message2 .userName, .message2 .date {
	color: #aac0cd;
}

.content {
	border-top: 3px solid #568aa8;
	border-bottom: 1px solid #568aa8;
}

.message2 .content {
	border-top: 3px solid #aac0cd;
	border-bottom: 1px solid #aac0cd;
}

#headerImage {
	background: url(../images/backgroundUserImageSteel.png) no-repeat;
}

.message1 a {
	color: #4d85a9;
}

.message1 a:hover {
	color: #7cadcc;
}

.message2 a {
	color: #b7cad6;
}

.message2 a:hover {
	color: #c5d6e1;
}


