<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>System Statistics Scripts</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.SystemStatistics.scripts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>System Statistics</string>
	<key>CFBundlePackageType</key>
	<string>AIAS</string>
	<key>Scripts</key>
	<array>
		<dict>
			<key>File</key>
			<string>StatusMessage</string>
			<key>Keyword</key>
			<string>%_statusMessage</string>
			<key>Title</key>
			<string>My Status Message</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ActiveApplication</string>
			<key>Keyword</key>
			<string>%_activeApp</string>
			<key>Title</key>
			<string>Active Application</string>
		</dict>
		<dict>
			<key>File</key>
			<string>AdiumBuild</string>
			<key>Keyword</key>
			<string>%_adiumbuild</string>
			<key>Title</key>
			<string>Adium Build</string>
		</dict>
		<dict>
			<key>File</key>
			<string>AdiumVersion</string>
			<key>Keyword</key>
			<string>%_adiumversion</string>
			<key>Title</key>
			<string>Adium Version</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Safari</string>
			<key>Keyword</key>
			<string>%_safari</string>
			<key>Title</key>
			<string>Current Page in Safari</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Uptime</string>
			<key>Keyword</key>
			<string>%_uptime</string>
			<key>Title</key>
			<string>Uptime</string>
		</dict>
	</array>
	<key>Set</key>
	<string>System Statistics</string>
</dict>
</plist>
