<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Show Unread Message Count in Tabs</key>
	<true/>
	<key>Show Unread Message Count in Group Chat Tabs</key>
	<true/>
	<key>Autohide Tab Bar</key>
	<false/>
	<key>Enable Inactive Tab Close</key>
	<false/>
	<key>Grammar Checking Enabled</key>
	<true/>
	<key>Spell Checking Enabled</key>
	<true/>
	<key>UserList On Right</key>
	<true/>
	<key>UserList Minimum Width</key>
	<integer>150</integer>
	<key>Smart Dash Substitutions</key>
	<true/>
	<key>Text Replacement Substitutions</key>
	<true/>
	<key>Smart Copy Paste Substitutions</key>
	<true/>
</dict>
</plist>
