<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Away Color</key>
	<string>49,49,49</string>
	<key>Away Enabled</key>
	<false/>
	<key>Away Label Color</key>
	<string>234,234,214</string>
	<key>Background As Status</key>
	<false/>
	<key>Background Color</key>
	<string>233,237,246</string>
	<key>Background Fade</key>
	<real>0.8070865869522095</real>
	<key>Contact Status Text Color</key>
	<string>165,165,165</string>
	<key>Grid Color</key>
	<string>237,243,254</string>
	<key>Grid Enabled</key>
	<false/>
	<key>Group Background</key>
	<string>140,201,255</string>
	<key>Group Background Gradient</key>
	<string>97,172,255</string>
	<key>Group Inverted Text Color</key>
	<string>255,255,255</string>
	<key>Group Shadow Color</key>
	<string>167,167,167</string>
	<key>Group Text Color</key>
	<string>0,0,0</string>
	<key>Idle And Away Color</key>
	<string>49,49,49</string>
	<key>Idle And Away Enabled</key>
	<false/>
	<key>Idle And Away Label Color</key>
	<string>233,233,214</string>
	<key>Idle Color</key>
	<string>49,49,49</string>
	<key>Idle Enabled</key>
	<false/>
	<key>Idle Label Color</key>
	<string>234,234,234</string>
	<key>Offline Color</key>
	<string>50,50,50</string>
	<key>Offline Enabled</key>
	<false/>
	<key>Offline Label Color</key>
	<string>240,240,240</string>
	<key>Online Color</key>
	<string>255,255,255</string>
	<key>Online Enabled</key>
	<false/>
	<key>Online Label Color</key>
	<string>209,234,220</string>
	<key>Signed Off Color</key>
	<string>255,255,255</string>
	<key>Signed Off Enabled</key>
	<false/>
	<key>Signed Off Label Color</key>
	<string>198,55,43</string>
	<key>Signed On Color</key>
	<string>255,255,255</string>
	<key>Signed On Enabled</key>
	<false/>
	<key>Signed On Label Color</key>
	<string>43,198,56</string>
	<key>Status Label Opacity</key>
	<real>1</real>
	<key>Typing Color</key>
	<string>255,255,255</string>
	<key>Typing Enabled</key>
	<false/>
	<key>Typing Label Color</key>
	<string>43,157,198</string>
	<key>Unviewed Content Color</key>
	<string>255,255,255</string>
	<key>Unviewed Content Enabled</key>
	<false/>
	<key>Unviewed Content Label Color</key>
	<string>43,69,198</string>
	<key>Use Background Image</key>
	<false/>
	<key>Window Transparency</key>
	<real>1</real>
</dict>
</plist>
