ARCHS = x86_64 i386
SDKROOT = macosx10.6
MACOSX_DEPLOYMENT_TARGET = 10.6
DEBUG_INFORMATION_FORMAT = dwarf
PREBINDING = NO
ZERO_LINK = NO
LINK_WITH_STANDARD_LIBRARIES = YES
GCC_OPTIMIZATION_LEVEL = s
GCC_REUSE_STRINGS = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_UNINITIALIZED_AUTOS = NO
GCC_WARN_SHADOW = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES

// There is an issue with Xcode 2.5:
// The InterfaceBuilder Framework moved from /System/Library/Frameworks to
// $(DEVELOPER_FRAMEWORKS_DIR); which is /Library/Frameworks relative to the
// Xcode installation direcotry. This works fine in Xcode 3.0, as it supports
// @loader_path, but Xcode 2.5 does not. Apple suggested the following fix:
// http://lists.apple.com/archives/Xcode-users/2007/Nov/msg00398.html
//
// $(DEVELOPER_FRAMEWORKS_DIR) is not defined in Xcode 2.4.x or earlier.
// Note however: If you want to share a project between Xcode 3 and Xcode 2,
// and Adium is currently shared, Apple says you *MUST* use Xcode 2.5, not
// any earlier version. Further you are highly recommend to use Xcode 2.5
// for any project that shall later on run on 10.5 (also true for Adium).
FRAMEWORK_SEARCH_PATHS = "$(DEVELOPER_FRAMEWORKS_DIR)"
OTHER_LDFLAGS = -dylib_file "@loader_path/../../../../PrivateFrameworks/DevToolsRemoteClient.framework/Versions/A/DevToolsRemoteClient:$(DEVELOPER_LIBRARY_DIR)/PrivateFrameworks/DevToolsRemoteClient.framework/Versions/A/DevToolsRemoteClient" -dylib_file "@loader_path/../../../../PrivateFrameworks/DevToolsFoundation.framework/Versions/A/DevToolsFoundation:$(DEVELOPER_LIBRARY_DIR)/PrivateFrameworks/DevToolsFoundation.framework/Versions/A/DevToolsFoundation"
