@charset "utf-8";

@import url(../Styles/Base.css);
@import url(../Styles/Base-S.css);
@import url(../Styles/Base-BG.css);
@import url(../Styles/BlueGreen-S.css);

.x-sender
{
	display: none;
}

.x-time
{
	display: none;
}

.x-iconsmall
{
	padding-right: 4px;
}

.actionMessageUserName
{
	display: inline;
}

.actionMessageUserName:after
{
	content: " ";
}

