<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>Angel.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(A)</string>
				<string>(a)</string>
				<string>O:)</string>
				<string>O:-)</string>
				<string>o:)</string>
				<string>o:-)</string>
				<string>O=)</string>
				<string>o=)</string>
				<string>O=-)</string>
				<string>o=-)</string>
			</array>
			<key>Name</key>
			<string>Angel</string>
		</dict>
		<key>Angry.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-@</string>
				<string>:@</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>Baring Teeth.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8o|</string>
			</array>
			<key>Name</key>
			<string>Baring Teeth</string>
		</dict>
		<key>Confused.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-S</string>
				<string>:-s</string>
				<string>:S</string>
				<string>S:</string>
				<string>:s</string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>Disappointed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:|</string>
				<string>:-|</string>
			</array>
			<key>Name</key>
			<string>Disappointed</string>
		</dict>
		<key>Don&apos;t Tell Anyone.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-#</string>
				<string>=#</string>
				<string>:#</string>
			</array>
			<key>Name</key>
			<string>Don&apos;t Tell Anyone</string>
		</dict>
		<key>Grin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string>:D</string>
				<string>=D</string>
			</array>
			<key>Name</key>
			<string>Open Mouthed</string>
		</dict>
		<key>I Don&apos;t Know.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:/</string>
				<string>=/</string>
				<string>=l</string>
				<string>:\</string>
				<string>=\</string>
				<string>:-/</string>
				<string>:%</string>
				<string>:-%</string>
				<string>/:</string>
			</array>
			<key>Name</key>
			<string>I Don&apos;t Know</string>
		</dict>
		<key>Lips are Sealed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-x</string>
				<string>:-X</string>
				<string>:X</string>
				<string>=X</string>
				<string>x:</string>
				<string>X:</string>
			</array>
			<key>Name</key>
			<string>Lips Are Sealed</string>
		</dict>
		<key>Nerd.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-|</string>
				<string>:-B</string>
				<string>:B</string>
				<string>=B</string>
				<string>=b</string>
			</array>
			<key>Name</key>
			<string>Nerd</string>
		</dict>
		<key>Party.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&lt;:o)</string>
			</array>
			<key>Name</key>
			<string>Party</string>
		</dict>
		<key>Sad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
				<string>=(</string>
				<string>u.u</string>
				<string>u_u</string>
				<string>U.U</string>
				<string>U_U</string>
				<string>):</string>
				<string>)=</string>
				<string>:c</string>
				<string>:C</string>
				<string>´´</string>
			</array>
			<key>Name</key>
			<string>Sad</string>
		</dict>
		<key>Sarcastic.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>^o)</string>
			</array>
			<key>Name</key>
			<string>Sarcastic</string>
		</dict>
		<key>Kiss.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string>:*</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>Sick.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+o(</string>
			</array>
			<key>Name</key>
			<string>Sick</string>
		</dict>
		<key>Smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:^)</string>
				<string>:-)</string>
				<string>:)</string>
				<string>=)</string>
				<string>(:</string>
				<string>(=</string>
			</array>
			<key>Name</key>
			<string>Happy</string>
		</dict>
		<key>Star.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(*)</string>
			</array>
			<key>Name</key>
			<string>Star</string>
		</dict>
		<key>Sticking Out Tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-P</string>
				<string>:-p</string>
				<string>:P</string>
				<string>:b</string>
				<string>=P</string>
				<string>=b</string>
				<string>:p</string>
				<string>=p</string>
				<string>=-p</string>
			</array>
			<key>Name</key>
			<string>Tongue Out</string>
		</dict>
		<key>Surprised.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-O</string>
				<string>:-o</string>
				<string>:O</string>
				<string>=o</string>
				<string>=O</string>
				<string>O:</string>
				<string>O=</string>
				<string>O=</string>
				<string>:o</string>
				<string>O.O</string>
			</array>
			<key>Name</key>
			<string>Surprised</string>
		</dict>
		<key>Thinking.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*-)</string>
				<string>*)</string>
				<string>:|</string>
				<string>=|</string>
				<string>*m*</string>
				<string>*M*</string>
				<string>:-|</string>
				<string>=-|</string>
				<string>=I</string>
				<string>:I</string>
				<string>:-I</string>
				<string>=-I</string>
				<string>:|</string>
			</array>
			<key>Name</key>
			<string>Thinking</string>
		</dict>
		<key>Wink.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
				<string>o.&lt;</string>
				<string>O.&lt;</string>
				<string>o_&lt;</string>
				<string>O_&lt;</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
		<key>bored.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>|-)</string>
				<string>I)</string>
				<string>I-)</string>
				<string>l-)</string>
			</array>
			<key>Name</key>
			<string>Sleepy</string>
		</dict>
		<key>Crying.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:&apos;(</string>
				<string>;(</string>
				<string>:´(</string>
				<string>:´-(</string>
				<string>:,(</string>
				<string>:´)</string>
				<string>:`(</string>
				<string>:'(</string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>embarrassed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
				<string>:$</string>
				<string>=$</string>
			</array>
			<key>Name</key>
			<string>Embarrassed</string>
		</dict>
		<key>heart.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&lt;3</string>
				<string>(L)</string>
				<string>(l)</string>
			</array>
			<key>Name</key>
			<string>Heart</string>
		</dict>
		<key>Wearing Sunglasses.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
				<string>8)</string>
			</array>
			<key>Name</key>
			<string>Wearing Sunglasses</string>
		</dict>
	</dict>
</dict>
</plist>
