SYMROOT = ../../build
APPLY_RULES_IN_COPY_FILES = YES
INFOPLIST_OUTPUT_FORMAT = binary
PLIST_FILE_OUTPUT_FORMAT = binary
SDKROOT = macosx10.6
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_PREPROCESSOR_DEFINITIONS = HAVE_CONFIG_H
VALID_ARCHS = i386 x86_64
ARCHS = x86_64 i386
LD_DYLIB_INSTALL_NAME = @rpath/FriBidi.framework/Versions/A/FriBidi
PRODUCT_NAME = FriBidi
WRAPPER_EXTENSION = framework
GCC_PREFIX_HEADER = FriBidi_Prefix.pch
INFOPLIST_FILE = Info.plist
DYLIB_CURRENT_VERSION = 1
DYLIB_COMPATIBILITY_VERSION = 1
FRAMEWORK_VERSION = A
GCC_PRECOMPILE_PREFIX_HEADER = YES
