<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Enabled</key>
	<true/>
	<key>Online</key>
	<true/>
	<key>AutoConnect</key>
	<true/>
	<key>Add Contacts to account</key>
	<true/>
	<key>Proxy Type</key>
	<real>4</real>
</dict>
</plist>
