<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<real>1.3</real>
	<key>List</key>
	<dict>
		<key>Blocked</key>
		<string>blocked.tiff</string>
		<key>Busy</key>
		<string>busy.tiff</string>
		<key>Generic Available</key>
		<string>available.tiff</string>
		<key>Generic Away</key>
		<string>away.tiff</string>
		<key>Idle</key>
		<string>idle.tiff</string>
		<key>Invisible</key>
		<string>invisible.tiff</string>
		<key>Mobile</key>
		<string>mobile.tiff</string>
		<key>Offline</key>
		<string>offline.tiff</string>
		<key>Unknown</key>
		<string>unknown.tiff</string>
		<key>content</key>
		<string>content.tiff</string>
		<key>enteredtext</key>
		<string>enteredtext.tiff</string>
		<key>typing</key>
		<string>typing.tiff</string>
	</dict>
	<key>Tabs</key>
	<dict>
		<key>Blocked</key>
		<string>blocked.tiff</string>
		<key>Busy</key>
		<string>busy.tiff</string>
		<key>Generic Available</key>
		<string>available.tiff</string>
		<key>Generic Away</key>
		<string>away.tiff</string>
		<key>Idle</key>
		<string>idle.tiff</string>
		<key>Invisible</key>
		<string>invisible.tiff</string>
		<key>Mobile</key>
		<string>mobile.tiff</string>
		<key>Offline</key>
		<string>offline.tiff</string>
		<key>Unknown</key>
		<string>unknown.tiff</string>
		<key>content</key>
		<string>content.tiff</string>
		<key>enteredtext</key>
		<string>enteredtext.tiff</string>
		<key>typing</key>
		<string>typing.tiff</string>
	</dict>
</dict>
</plist>
