<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>ASL.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(?)</string>
			</array>
			<key>Name</key>
			<string>ASL</string>
		</dict>
		<key>Airplane.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(ap)</string>
				<string>(AP)</string>
			</array>
			<key>Name</key>
			<string>Airplane</string>
		</dict>
		<key>Angel.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(A)</string>
				<string>(a)</string>
				<string>O:)</string>
				<string>O:-)</string>
				<string>o:)</string>
				<string>o:-)</string>
				<string>O=)</string>
				<string>o=)</string>
				<string>O=-)</string>
				<string>o=-)</string>
			</array>
			<key>Name</key>
			<string>Angel</string>
		</dict>
		<key>Angry.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-@</string>
				<string>:@</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>Auto.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(au)</string>
				<string>(AU)</string>
			</array>
			<key>Name</key>
			<string>Auto</string>
		</dict>
		<key>Baring teeth.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8o|</string>
			</array>
			<key>Name</key>
			<string>Baring teeth</string>
		</dict>
		<key>Be right back.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(brb)</string>
			</array>
			<key>Name</key>
			<string>Be Right Back</string>
		</dict>
		<key>Birthday cake.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(^)</string>
			</array>
			<key>Name</key>
			<string>Birthday cake</string>
		</dict>
		<key>Bowl.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(||)</string>
			</array>
			<key>Name</key>
			<string>Bowl</string>
		</dict>
		<key>Boy.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(Z)</string>
				<string>(z)</string>
			</array>
			<key>Name</key>
			<string>Boy</string>
		</dict>
		<key>Broken heart.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(U)</string>
				<string>(u)</string>
			</array>
			<key>Name</key>
			<string>Broken heart</string>
		</dict>
		<key>Cabra.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(nah)</string>
				<string>(NAH)</string>
			</array>
			<key>Name</key>
			<string>Goat</string>
		</dict>
		<key>Cat face.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(@)</string>
			</array>
			<key>Name</key>
			<string>Cat</string>
		</dict>
		<key>Cigar.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(ci)</string>
			</array>
			<key>Name</key>
			<string>Cigar</string>
		</dict>
		<key>Clap.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(h5)</string>
			</array>
			<key>Name</key>
			<string>High Five</string>
		</dict>
		<key>Clock.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(O)</string>
				<string>(o)</string>
			</array>
			<key>Name</key>
			<string>Clock</string>
		</dict>
		<key>Coffee cup.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(C)</string>
				<string>(c)</string>
			</array>
			<key>Name</key>
			<string>Coffee cup</string>
		</dict>
		<key>Computer.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(co)</string>
				<string>(pc)</string>
			</array>
			<key>Name</key>
			<string>Computer</string>
		</dict>
		<key>Confused.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-S</string>
				<string>:-s</string>
				<string>:S</string>
				<string>: S</string>
				<string>S:</string>
				<string>:s</string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>Cross Fingers.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(yn)</string>
			</array>
			<key>Name</key>
			<string>Cross Fingers</string>
		</dict>
		<key>Crying.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'(</string>
				<string>;(</string>
				<string>:´(</string>
				<string>:´-(</string>
				<string>:,(</string>
				<string>:´)</string>
				<string>:`(</string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>Devil.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(6)</string>
				<string>&gt;:)</string>
				<string>&gt;:D</string>
				<string>&gt;: )</string>
				<string>&gt;: D</string>
			</array>
			<key>Name</key>
			<string>Devil</string>
		</dict>
		<key>Disappointed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:|</string>
				<string>:-|</string>
			</array>
			<key>Name</key>
			<string>Disappointed</string>
		</dict>
		<key>Dog face.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(&amp;)</string>
			</array>
			<key>Name</key>
			<string>Dog</string>
		</dict>
		<key>Don't tell anyone.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-#</string>
				<string>=#</string>
				<string>:#</string>
			</array>
			<key>Name</key>
			<string>Don't tell anyone</string>
		</dict>
		<key>Email.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(E)</string>
				<string>(e)</string>
			</array>
			<key>Name</key>
			<string>E-mail</string>
		</dict>
		<key>Embarrassed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
				<string>:$</string>
				<string>=$</string>
				<string>::$</string>
				<string>: $</string>
				<string>$$</string>
			</array>
			<key>Name</key>
			<string>Embarrassed</string>
		</dict>
		<key>Eye-rolling.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
			</array>
			<key>Name</key>
			<string>Eye-rolling</string>
		</dict>
		<key>Filmstrip.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(~)</string>
			</array>
			<key>Name</key>
			<string>Filmstrip</string>
		</dict>
		<key>Gift.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(G)</string>
				<string>(g)</string>
			</array>
			<key>Name</key>
			<string>Gift</string>
		</dict>
		<key>Girl.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(X)</string>
				<string>(x)</string>
			</array>
			<key>Name</key>
			<string>Girl</string>
		</dict>
		<key>Grin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string>:D</string>
				<string>=D</string>
				<string>: D</string>
			</array>
			<key>Name</key>
			<string>Open Mouthed</string>
		</dict>
		<key>Handcuffs.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(%)</string>
			</array>
			<key>Name</key>
			<string>Handcuffs</string>
		</dict>
		<key>Hot.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(H)</string>
				<string>(h)</string>
				<string>B)</string>
				<string>B-)</string>
				<string>(HH)</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>I don't know.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:/</string>
				<string>:^)</string>
				<string>=/</string>
				<string>=l</string>
				<string>:\</string>
				<string>=\</string>
				<string>:-/</string>
				<string>:%</string>
				<string>:-%</string>
				<string>/:</string>
				<string>:2</string>
			</array>
			<key>Name</key>
			<string>I don't know</string>
		</dict>
		<key>Island.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(ip)</string>
			</array>
			<key>Name</key>
			<string>Island</string>
		</dict>
		<key>Left hug.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>({)</string>
			</array>
			<key>Name</key>
			<string>Left hug</string>
		</dict>
		<key>Light bulb.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(I)</string>
				<string>(i)</string>
			</array>
			<key>Name</key>
			<string>Light bulb</string>
		</dict>
		<key>Lightning.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(li)</string>
			</array>
			<key>Name</key>
			<string>Lightning</string>
		</dict>
		<key>MSN.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(M)</string>
				<string>(m)</string>
				<string>(msn)</string>
				<string>(MSN)</string>
			</array>
			<key>Name</key>
			<string>MSN Messenger Icon</string>
		</dict>
		<key>Martini.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(D)</string>
				<string>(d)</string>
			</array>
			<key>Name</key>
			<string>Martini</string>
		</dict>
		<key>Mobile Phone.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(mp)</string>
			</array>
			<key>Name</key>
			<string>Mobile Phone</string>
		</dict>
		<key>Money.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(mo)</string>
			</array>
			<key>Name</key>
			<string>Money</string>
		</dict>
		<key>Nerd.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-|</string>
				<string>:-B</string>
				<string>:B</string>
				<string>=B</string>
				<string>=b</string>
			</array>
			<key>Name</key>
			<string>Nerd</string>
		</dict>
		<key>Note.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(8)</string>
			</array>
			<key>Name</key>
			<string>Note</string>
		</dict>
		<key>Party.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&lt;:o)</string>
			</array>
			<key>Name</key>
			<string>Party</string>
		</dict>
		<key>Pizza.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(pi)</string>
			</array>
			<key>Name</key>
			<string>Pizza</string>
		</dict>
		<key>Plate.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(pl)</string>
			</array>
			<key>Name</key>
			<string>Plate</string>
		</dict>
		<key>Rainbow.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(r)</string>
				<string>(R)</string>
			</array>
			<key>Name</key>
			<string>Rainbow</string>
		</dict>
		<key>Red lips.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(K)</string>
				<string>(k)</string>
			</array>
			<key>Name</key>
			<string>Red lips</string>
		</dict>
		<key>Red rose.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(F)</string>
				<string>(f)</string>
			</array>
			<key>Name</key>
			<string>Rose</string>
		</dict>
		<key>Right hug.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(})</string>
			</array>
			<key>Name</key>
			<string>Right hug</string>
		</dict>
		<key>Sad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
				<string>=(</string>
				<string>u.u</string>
				<string>u_u</string>
				<string>U.U</string>
				<string>U_U</string>
				<string>: (</string>
				<string>):</string>
				<string>)=</string>
				<string>:c</string>
				<string>:C</string>
				<string>= (</string>
				<string>) :</string>
				<string>´´</string>
			</array>
			<key>Name</key>
			<string>Sad</string>
		</dict>
		<key>Sarcastic.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>^o)</string>
				<string>1414</string>
				<string>(oo)</string>
			</array>
			<key>Name</key>
			<string>Sarcastic</string>
		</dict>
		<key>Secret telling.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string>:*</string>
			</array>
			<key>Name</key>
			<string>Secret telling</string>
		</dict>
		<key>Sheep.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(bah)</string>
				<string>(BAH)</string>
			</array>
			<key>Name</key>
			<string>Sheep</string>
		</dict>
		<key>Sick.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+o(</string>
			</array>
			<key>Name</key>
			<string>Sick</string>
		</dict>
		<key>Sleeping moon.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(S)</string>
			</array>
			<key>Name</key>
			<string>Sleeping half-moon</string>
		</dict>
		<key>Sleepy.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>|-)</string>
				<string>I)</string>
				<string>I-)</string>
				<string>l-)</string>
			</array>
			<key>Name</key>
			<string>Sleepy</string>
		</dict>
		<key>Smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
				<string>=)</string>
				<string>:]</string>
				<string>=]</string>
				<string>: )</string>
				<string>(:</string>
				<string>(=</string>
			</array>
			<key>Name</key>
			<string>Happy</string>
		</dict>
		<key>Snail.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(sn)</string>
			</array>
			<key>Name</key>
			<string>Snail</string>
		</dict>
		<key>Soccer ball.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(so)</string>
			</array>
			<key>Name</key>
			<string>Soccer ball</string>
		</dict>
		<key>Star.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(*)</string>
			</array>
			<key>Name</key>
			<string>Star</string>
		</dict>
		<key>Sticking Out Tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-P</string>
				<string>:-p</string>
				<string>:P</string>
				<string>:b</string>
				<string>=P</string>
				<string>=b</string>
				<string>:p</string>
				<string>=p</string>
				<string>=-p</string>
				<string>: P</string>
			</array>
			<key>Name</key>
			<string>Tongue Out</string>
		</dict>
		<key>Stormy cloud.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(st)</string>
			</array>
			<key>Name</key>
			<string>Stormy cloud</string>
		</dict>
		<key>Sun.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(#)</string>
			</array>
			<key>Name</key>
			<string>Sun</string>
		</dict>
		<key>Surprised.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-O</string>
				<string>:-o</string>
				<string>:O</string>
				<string>=o</string>
				<string>=O</string>
				<string>O:</string>
				<string>O=</string>
				<string>O=</string>
				<string>: O</string>
				<string>:o</string>
				<string>O.O</string>
				<string>:0</string>
				<string>=0</string>
			</array>
			<key>Name</key>
			<string>Surprised</string>
		</dict>
		<key>Telephone.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(T)</string>
				<string>(t)</string>
			</array>
			<key>Name</key>
			<string>Telephone receiver</string>
		</dict>
		<key>Thinking.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*-)</string>
				<string>*)</string>
			</array>
			<key>Name</key>
			<string>Thinking</string>
		</dict>
		<key>Turtle.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(tu)</string>
			</array>
			<key>Name</key>
			<string>Turtle</string>
		</dict>
		<key>Umbrella.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(um)</string>
			</array>
			<key>Name</key>
			<string>Umbrella</string>
		</dict>
		<key>Vampire bat.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
				<string>:[</string>
			</array>
			<key>Name</key>
			<string>Vampire bat</string>
		</dict>
		<key>Wilted rose.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(W)</string>
				<string>(w)</string>
			</array>
			<key>Name</key>
			<string>Wilted rose</string>
		</dict>
		<key>Wink.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
				<string>o.&lt;</string>
				<string>O.&lt;</string>
				<string>o_&lt;</string>
				<string>O_&lt;</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
		<key>XBox.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(xx)</string>
			</array>
			<key>Name</key>
			<string>XBox</string>
		</dict>
		<key>beer.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(B)</string>
				<string>(b)</string>
			</array>
			<key>Name</key>
			<string>Beer Mug</string>
		</dict>
		<key>camera.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(P)</string>
				<string>(p)</string>
			</array>
			<key>Name</key>
			<string>Camera</string>
		</dict>
		<key>heart.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(L)</string>
				<string>(l)</string>
				<string>&lt;3</string>
			</array>
			<key>Name</key>
			<string>Heart</string>
		</dict>
		<key>thdown.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(N)</string>
				<string>(n)</string>
			</array>
			<key>Name</key>
			<string>Thumbs down</string>
		</dict>
		<key>thup.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(Y)</string>
				<string>(y)</string>
				<string>:Y</string>
			</array>
			<key>Name</key>
			<string>Thumbs up</string>
		</dict>
	</dict>
	<key>Service Class</key>
	<string>MSN</string>
</dict>
</plist>
