<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Auto Encode</key>
	<string>FALSE</string>
	<key>Auto Open</key>
	<string>TRUE</string>
	<key>Background Image Path</key>
	<string>dmgBackground.png</string>
	<key>Build Format</key>
	<string>DMG (OS X only)</string>
	<key>Custom Icon Path</key>
	<string></string>
	<key>Disk Image Name</key>
	<string>~/Desktop/AdiumX_0.8b5.dmg</string>
	<key>Encode Format</key>
	<string>None</string>
	<key>Encryption Type</key>
	<string>None</string>
	<key>Finalize Format</key>
	<string>Read-only with compression</string>
	<key>Icon Size</key>
	<string>96</string>
	<key>Image Size Extra</key>
	<string>0</string>
	<key>Image Size Type</key>
	<string>Automatic</string>
	<key>Internet Enable</key>
	<string>FALSE</string>
	<key>Item List</key>
	<array>
		<dict>
			<key>Origin</key>
			<string>{178, 88}</string>
			<key>Path</key>
			<string>/Users/evands/AdiumDaily/adium/build/Adium.app</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{87, 257}</string>
			<key>Path</key>
			<string>/Users/evands/AdiumDaily/adium/Changes.txt</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{271, 257}</string>
			<key>Path</key>
			<string>/Users/evands/AdiumDaily/adium/License.txt</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
	</array>
	<key>License List</key>
	<array/>
	<key>Lock Frame</key>
	<string>FALSE</string>
	<key>Project File Path</key>
	<string>/Users/evands/AdiumDaily/adium/Utilities/DiskImage/</string>
	<key>Show Toolbar</key>
	<string>TRUE</string>
	<key>Volume Name</key>
	<string>Adium X 0.8b5</string>
	<key>Window Frame</key>
	<string>{{19, 140}, {527, 491}}</string>
</dict>
</plist>
